// Color spectrum
:root {
	--c--white: #fff;
	--c--black: #000;
	--c--off-white: #FFFEFA;
	--c--yellow-01: #FFE70D;
	--c--yellow-02: #FFDB00;
	--c--yellow-03: #F5C800;
	--c--blue: #274DD8;
	--c--gray-05: #FAFAFA;
	--c--gray-10: #EEEEEE;
	--c--gray-20: #E7E7E7;
	--c--gray-30: #D3D3D3;
	--c--gray-40: #A5A4A3;
	--c--gray-50: #949494;
	--c--gray-60: #767676;
	--c--gray-70: #4B4B4B;
	--c--gray-80: #333333;
	--c--gray-90: #222222;
	--c--bg-warm: #F5F3EB;
}

// Light theme
.c--theme-light {
	--c--theme-bg: var(--c--white); // Background
	--c--theme-bg-warm: var(--c--bg-warm); // Background light warm
	--c--theme-fg: var(--c--gray-90); // Inverse border
	--c--theme-gray-01: var(--c--gray-90); // Primary text, Headings
	--c--theme-gray-02: var(--c--gray-80); // Secondary text, Body
	--c--theme-gray-03: var(--c--gray-40); // Tetriary text, date, Monospace
	--c--theme-gray-04: var(--c--gray-30); // Disabled text
	--c--theme-gray-05: var(--c--gray-20); // Medium contrast border
	--c--theme-gray-06: var(--c--gray-10); // Light contrast border
	--c--theme-interactive-01: var(--c--blue); // Link
	--c--theme-primary-01: var(--c--yellow-02); // Primary brand color
	--c--theme-hover-primary-01: var(--c--yellow-03); // Hover for primary
}

// Dark theme
.c--theme-dark {
	--c--theme-bg: var(--c-gray-90);
	// ini ditambah
}

// Border color
.c--border-inverse { border-color: var(--c--theme-bg); }
.c--border-medium { border-color: var(--c--theme-gray-04); }
.c--border-light { border-color: var(--c--theme-gray-05); }
.b--top { border-top-width: 1px; border-top-style: solid;}

// Background
#about body {
	background: var(--c--theme-bg-warm);
}