img {
	max-width: 100%;
}

.img-wrapper {
	height: auto;
	position: relative;
	display: block;
}

.small { max-width: 400px; }
.medium { max-width: 600px; }
.large { max-width: 800px; }
.xl { max-width: 400px; }

@media (max-width: 800) {
	img.small,
	img.medium,
	img.large,
	img.xl {
		max-width: 100%;
		width: 100%;
	}	
}