.post-inner--body img {
	mix-blend-mode: multiply;
}

img {
	max-width: 100%;
}

.img-wrapper {
	height: auto;
	position: relative;
	display: block;
}

.tiny { max-width: 280px; }
.small { max-width: 400px; }
.medium { max-width: 600px; }
.large { max-width: 800px; }
.xl { max-width: 400px; }

@media (max-width: 800) {
	img.small,
	img.medium,
	img.large,
	img.xl {
		max-width: 100%;
		width: 100%;
	}	
}

.img-full img,
.img-full { max-width: 100vw; }

.img-full-screen img,
.img-full-screen {width: 90vw;}

.img-large,
.img-large img {
	max-width: 100vw; 
	width: 70vw;
}
@media (max-width: 800px) {
	.img-large, .img-large img {
		max-width: 100vw;
		width: 90vw;
	}
}

.mx-w-10 { max-width: 10%;}
.mx-w-20 { max-width: 20%;}
.mx-w-30 { max-width: 30%;}
.mx-w-40 { max-width: 40%;}
.mx-w-50 { max-width: 50%;}
.mx-w-60 { max-width: 60%;}
.mx-w-70 { max-width: 70%;}
.mx-w-80 { max-width: 80%;}
.mx-w-90 { max-width: 90%;}