// Typography spectrum
:root {
	--t--size-base: 20px;
	--t--size-01: 0.7rem;
	--t--size-02: 0.78rem;
	--t--size-03: 0.89rem;
	--t--size-04: 1rem; // base = 18
	--t--size-05: 1.11rem;
	--t--size-06: 1.33rem;
	--t--size-07: 1.55rem;
	--t--size-08: 1.78rem;
	--t--size-09: 2.44rem;
	--t--size-10: 3.33rem;
	--t--size-11: 4rem;
	--t--size-12: 5.11rem;
	// p = productive
	--t--leading-p-01: calc(var(--t--size-01) + 0.6rem); // 16
	--t--leading-p-02: calc(var(--t--size-02) + 0.6rem); // 18
	--t--leading-p-03: calc(var(--t--size-03) + 0.6rem);
	--t--leading-p-04: calc(var(--t--size-04) + 0.6rem);
	--t--leading-p-05: calc(var(--t--size-05) + 0.6rem);
	--t--leading-p-06: calc(var(--t--size-06) + 0.6rem);
	--t--leading-p-07: calc(var(--t--size-07) + 0.6rem);
	--t--leading-p-08: calc(var(--t--size-08) + 0.6rem);
	--t--leading-p-09: calc(var(--t--size-09) + 0.6rem);
	--t--leading-p-10: calc(var(--t--size-10) + 0.6rem);
	--t--leading-p-11: calc(var(--t--size-11) + 0.6rem);
	--t--leading-p-12: calc(var(--t--size-12) + 0.6rem);
	// e = expressive
	--t--leading-e-01: calc(var(--t--size-01) + 8px); // 20
	--t--leading-e-02: calc(var(--t--size-02) + 8px); // 22
	--t--leading-e-03: calc(var(--t--size-03) + 8px);
	--t--leading-e-04: calc(var(--t--size-04) + 8px);
	--t--leading-e-05: calc(var(--t--size-05) + 8px);
	--t--leading-e-06: calc(var(--t--size-06) + 8px);
	--t--leading-e-07: calc(var(--t--size-07) + 8px);
	--t--leading-e-08: calc(var(--t--size-08) + 8px);
	--t--leading-e-09: calc(var(--t--size-09) + 6px);
	--t--leading-e-10: calc(var(--t--size-10) + 6px);
	--t--leading-e-11: calc(var(--t--size-11) + 6px);
	--t--leading-e-12: calc(var(--t--size-12) + 6px);
	// font family
	--t--family-serif: 'Noticia Text', Georgia, serif;
	--t--family-sans-serif: 'Inter', Arial, sans-serif;
	--t--family-slab: 'Roboto Slab', Arial, sans-serif;
	--t--family-mono: 'Roboto Mono', monospace;
	// spectrum for weight
	--t--weight-regular: 400;
	--t--weight-bold: 700;
}

// Utility
.t--left { text-align: left; }
.t--right { text-align: right; }
.t--center { text-align: center; }
.t--justify { text-align: justify; }

// ------------------------
// Title + Big Title
// ------------------------
.t--title-01,
.t--title-02,
.t--title-01-serif,
.t--title-02-serif {
	font-size: var(--t--size-09);
	line-height: var(--t--leading-e-09);
}
.t--big-title-01 { 
	font-size: var(--t--size-10);
	line-height: var(--t--leading-p-10);
}
.t--big-title-02 { 
	font-size: var(--t--size-11);
	line-height: var(--t--leading-p-11);
}

@media (max-width: 880px) {
	.t--big-title-01,
	.t--big-title-02 {
		font-size: var(--t--size-08);
		line-height: var(--t--leading-e-08);
	}
	.t--title-01 {
		font-size: var(--t--size-08);
		line-height: var(--t--leading-e-08);
	}
	.t--subtitle-01 {
		font-size: var(--t--size-06);
		line-height: var(--t--leading-e-06);
	}
	.t--title-01-serif {
		font-size: var(--t--size-07);
		line-height: var(--t--leading-e-07);
	}
	.t--title-02-serif {
		font-size: var(--t--size-07);
		line-height: var(--t--leading-e-07);
	}
}

// ------------------------
// Headings
// ------------------------

.t--heading-01,
.t--heading-01-serif,
.post-inner--body h4,
h4 {
	font-size: var(--t--size-05);
	line-height: var(--t--leading-e-05);
}
.t--heading-02,
.t--heading-02-serif,
.post-inner--body h3,
h3 {
	font-size: var(--t--size-06);
	line-height: var(--t--leading-e-06);
}
.t--heading-03,
.t--heading-03-serif,
.post-inner--body h2,
h2,
.t--subtitle-01 {
	font-size: var(--t--size-07);
	line-height: var(--t--leading-e-07);
}
.t--heading-04,
.t--heading-04-serif,
.post-inner--body h1,
h1 {
	font-size: var(--t--size-08);
	line-height: var(--t--leading-e-08);
}

// ------------------------
// Body
// ------------------------

.t--body-01 {
	font-size: var(--t--size-02);
	line-height: var(--t--leading-p-02);
}
.t--body-02 {
	font-size: var(--t--size-04);
	line-height: var(--t--leading-e-04);
}
.t--body-03 {
	font-size: var(--t--size-05);
	line-height: var(--t--leading-e-05);
}
.t--body-04,
.t--lede {
	font-size: var(--t--size-06);
	line-height: var(--t--leading-e-07);
}

.t--caption-01 {
	font-size: var(--t--size-02);
	line-height: var(--t--leading-p-02);
	font-style: italic;
}

// ------------------------
// Eyebrow
// ------------------------
.t--eyebrow,
[class*="t--eyebrow"] {
	font-size: 14px;
	line-height: 20px;
	font-family: var(--t--family-sans-serif);
	font-weight: var(--t--weight-bold);
}
.t--eyebrow-blue {
	color: var(--c--theme-interactive-01);
}
.t--eyebrow-crimson {
	color: #E41F54;
}
.t--mono-02 {
	font-size: var(--t--size-03);
	line-height: var(--t--leading-p-03);
}
.t--mono-01 {
	font-size: var(--t--size-01);
	line-height: var(--t--leading-p-01);
}

// ------------------------
// FONT FAMILY
// ------------------------

// Sans serif
.t--big-title-01,
.t--title-01,
.t--subtitle-01,
.t--heading-01,
.post-inner--body h1,
.t--heading-02,
.post-inner--body h2,
.t--heading-03,
.post-inner--body h3,
.t--heading-04,
.post-inner--body h4,
h1, h2, h3, h4, h5 {
	color: var(--c--theme-gray-01);
	font-family: var(--t--family-sans-serif);
	font-weight: var(--t--weight-bold);
}

// Serif
.t--heading-01-serif,
.t--heading-02-serif,
.t--heading-03-serif,
.t--heading-04-serif,
.t--title-01-serif,
.t--title-02-serif {
	color: var(--c--theme-gray-01);
	font-family: var(--t--family-serif);
	font-weight: var(--t--weight-bold);
}


// Body - color secondary & slab
.t--title-02,
.t--subtitle-01,
.t--body-01,
.t--body-02,
.t--caption-01 {
	font-weight: var(--t--weight-regular);
}
.t--body-01,
.t--body-02,
.t--caption-01 {
	color: var(--c--theme-gray-02);
	font-family: var(--t--family-slab);
}
.t--body-03,
.t--body-04 {
	color: var(--c--theme-gray-01);
	font-family: var(--t--family-sans-serif);
}

.t--title-02,
.t--subtitle-01 { 
	color: var(--c--theme-gray-03);
	font-family: var(--t--family-serif);
}

// Monospace - color tetriary & monospaced
.t--mono-01,
.t--mono-02 {
	color: var(--c--theme-gray-03);
	font-family: var(--t--family-mono);
}


// ------------------------
// Text color
// ------------------------

.c--crimson { color: #E41F54; }

// ------------------------
// Link
// ------------------------
a {
	color: var(--c--theme-gray-01);
	text-decoration: none;
	&:hover {
		color: var(--c--theme-interactive-01);
	}
}
.link, 
sup a { 
	color: var(--c--theme-interactive-01);
	text-decoration: none;
	&:hover { text-decoration: underline; }
}
.post-inner--body a {
	color: var(--c--theme-interactive-01);
	text-decoration: underline;
	&:hover {text-decoration-color: var(--c--theme-gray-02)}
}

.neutral-link,
a.neutral-link {
	text-decoration: underline;
	text-decoration-color: var(--c--theme-gray-04);
	&:hover {text-decoration-color: var(--c--theme-gray-02)}
}
.clean-link {
	text-decoration: none;
	&:hover {text-decoration: none;}
}

// Utilities for color
.t--color-primary { color: var(--c--theme-gray-01); }
.t--color-secondary { color: var(--c--theme-gray-02)!important; }
.t--color-tetriary { color: var(--c--theme-gray-03); }
.bold { font-weight: var(--t--weight-bold); }


//blockquote
blockquote.quote-large,
blockquote.quote-large p {
	font-size: var(--t--size-07);
	line-height: var(--t--leading-e-07);
	font-weight: var(--t--weight-bold);
	padding-top: 4px;
	padding-bottom: 4px;
	margin-top: 12px;
	margin-bottom: 16px;
	border-left-width: 6px;
}
blockquote.quote-medium {
	margin-bottom: 40px;
}
blockquote.quote-medium,
blockquote.quote-medium p {
	font-size: var(--t--size-06);
	line-height: var(--t--leading-e-06);
}
blockquote {
	margin-left: 0; // reset webkit preset
	font-family: var(--t--family-sans-serif);
	font-weight: var(--t--weight-bold);
	color: var(--c--theme-gray-01);

	p {
		border-left: 3px solid var(--c--theme-gray-01);
	    color: #4b4b4b;
	    font-size: 18px;
	    font-weight: 400;
	    line-height: 1.6;
	    padding-left: 16px;
	}
    cite {
    	font-size: 16px;
	    font-weight: 700;
    	background: none;
    	display: block;
	    color: var(--c--theme-gray-03);
	    margin-bottom: var(--l--space-08);
	    margin-top: 4px;

	    &:before {
	   		content: "\2014";
	    }
    }
}

@media (min-width: 768px) {
	blockquote.quote-large,
	blockquote.quote-large p {
		font-size: var(--t--size-09);
		line-height: var(--t--leading-e-09);
	}
	blockquote.quote-medium,
	blockquote.quote-medium p {
		font-size: var(--t--size-07);
		line-height: var(--t--leading-e-07);
	}
}

