<div class="post-action-wrapper col-12">
	<a href="https://calendly.com/budi-tanrim/chat" target="_blank" class="post-action-link ga-ask-question p-t-s p-b-s l--flex b--top-dashed bg-hover-soft-yellow">
		<div class="post-action-image col-2 col-sm-1 m-r-s m-l-xs">
			<img src="/img/asset/ask-me-question-illus.png" alt="ask me question illustration" width="64px">
		</div>
		<div class="post-action-text col-8">
			<h4 style="padding-top: 4px;">{{site.data.central.booking-h}}</h4>
			<p class="t--caption-01">
				{{site.data.central.booking-t}}
			</p>
		</div>
	</a>
</div>

<div class="post-action-wrapper col-12">
	<a href="mailto:hi.buditanrim@gmail.com" target="_blank" class="post-action-link ga-ask-question p-t-s p-b-s l--flex b--top-dashed b--bottom-dashed bg-hover-soft-yellow">
		<div class="post-action-image col-2 col-sm-1 m-r-s m-l-xs">
			<img src="/img/asset/ask-me-question-illus.png" alt="ask me question illustration" width="64px">
		</div>
		<div class="post-action-text col-8">
			<h4 style="padding-top: 4px;">{{site.data.central.a-q-h}}</h4>
			<p class="t--caption-01">
				{{site.data.central.a-q-t}}
			</p>
		</div>
	</a>
</div>