<div class="footer">
	<div class="footer-wrap">
		<div class="branding">Yellowstroke</div>
		<p class="footer-desc">
			<a href="https://twitter.com/buditanrim" target="_blank">Budi Tanrim's</a> personal blog, where he jotted down his thoughts, learnings, and experiments about design.
		</p>
		<a href="http://eepurl.com/cuGqAP" class="footer-subscribe">Get notified for the next post.</a> <i>Next post: Experimenting with design critique. (Working title)</i>
	</div>
		{% include img-caption.html 
		url="/img/asset/thought.png" 
		url-2="/img/asset/thought-2x.png" 
		alt="thought-illustration" 
		class="illustration thought" %}
</div>