<div class="footer">
	<div class="footer-wrap">
		<div class="branding">Yellowstroke</div>
		<p class="footer-desc">
			<a href="https://twitter.com/buditanrim" target="_blank">Budi Tanrim's</a> personal blog, where he jotted down his thoughts, learnings, and experiments about design. Check his work on <a href="https://dribbble.com/buditanrim">Dribbble</a>
		</p>
		<p class="footer-subscribe">
			<a href="http://eepurl.com/cuGqAP">Get notified for the next post.</a></br>
			<i style="text-decoration: line-through;">Next post: Things I learned from working at Shopify.</i>
			<!-- <i>Next post: Working & living overseas (working title)</i> -->
		</p>
	</div>
		{% include img-caption.html 
		url="/img/asset/thought.png" 
		url-2="/img/asset/thought-2x.png" 
		alt="thought-illustration" 
		class="illustration thought" %}
</div>