<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{page.title}} - Yellowstroke.com</title>
	<link rel="shortcut icon" type="image/png" href="/img/favicon.png">
	<link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Noticia+Text:400,700|Roboto:400,700" rel="stylesheet">

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Apple icon -->
	<link rel="apple-touch-icon" sizes="57x57" href="/img/app-icon/touch-icon-iphone.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/img/app-icon/touch-icon-ipad.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/img/app-icon/touch-icon-iphone-4.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/img/app-icon/touch-icon-ipad-retina.png">
	<link rel="apple-touch-icon" sizes="167x167" href="/img/app-icon/touch-icon-ipad-pro.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/img/app-icon/touch-icon-iphone-6-plus.png">
	<!-- Android icon -->
	<link rel="icon" sizes="192x192" href="/img/app-icon/touch-icon-android-hd.png">
	<link rel="icon" sizes="128x128" href="/img/app-icon/touch-icon-android.png">

	{% seo %}
</head>
