<!DOCTYPE html>
<html lang="en" id="{{page.id}}" class="{{page.class}}">
<head>
	<meta charset="UTF-8">
	<title>{{site.title}} - {{page.title}} </title>
	<meta name="title" content="{{site.title}} - {{page.title}}">
	<meta name="description" content="{{page.description}}">

	<link rel="shortcut icon" type="image/png" href="/img/favicon.png">
	<link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
	<link href="https://fonts.googleapis.com/css2?family=Fraunces:wght@400;600&family=Roboto+Mono&family=Inter:wght@500;700&family=Roboto+Slab:wght@400;700&display=swap" rel="stylesheet">

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Apple icon -->
	<link rel="apple-touch-icon" sizes="57x57" href="/img/app-icon/touch-icon-iphone.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/img/app-icon/touch-icon-ipad.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/img/app-icon/touch-icon-iphone-4.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/img/app-icon/touch-icon-ipad-retina.png">
	<link rel="apple-touch-icon" sizes="167x167" href="/img/app-icon/touch-icon-ipad-pro.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/img/app-icon/touch-icon-iphone-6-plus.png">
	<!-- Android icon -->
	<link rel="icon" sizes="192x192" href="/img/app-icon/touch-icon-android-hd.png">
	<link rel="icon" sizes="128x128" href="/img/app-icon/touch-icon-android.png">

	{% seo %}

	{% for twitter-seo in page.twitter-seo %}
	<meta name="twitter:title" content="{{page.title}}">
	<meta name="twitter:description" content="{{page.description}}">
	<meta name="twitter:image" content="https://buditanrim.co/img/{{twitter-seo}}">
	{% endfor %}

	{% include google-analytics.html %}
	{% include google-tag-manager.html %}

	<!-- <script>
	(function(h,e,a,t,m,p) {
	m=e.createElement(a);m.async=!0;m.src=t;
	p=e.getElementsByTagName(a)[0];p.parentNode.insertBefore(m,p);
	})(window,document,'script','https://u.heatmap.it/log.js');
	</script> -->
	
	{% if page.id %}
	<script src="/js/applause-button.js"></script>
	{% endif %}

	{% if page.id == index %}
	<script src="/js/applause-button.js"></script>
	{% endif %}
</head>
<body class="c--theme-light">
	{% include google-tag-noscript.html %}
<!-- Navigation Bar Component -->
{% include navigationbar.html %} 
