<!-- DEPRECATED -->

{% assign current = page.url | downcase | split: '/' %}
<ul>
	<li>
		<a href="/" {% if page.url == '/' %}class="current"{% endif %}>
			Index
		</a>
	</li>
	<!-- <li>
		<a href="/vocabulary" {% if current[1] == 'vocabulary' %}class="current"{% endif %}>
			Vocabulary
		</a>
	</li> -->
	<li>
		<a href="/author" {% if current[1] == 'author' %}class="current"{% endif %}>
			Author
		</a>
	</li>
	<li>
		<a href="mailto:buditanrim@gmail.com" target="_blank" class="menu-contact">
			Contact
		</a>
	</li>
	<li>
		<a href="https://www.linkedin.com/pulse/my-experience-working-education-civic-tech-indonesia-so-budi-tanrim-1c/?trackingId=b2aG77ADS5eB4wfz4W4qGA%3D%3D" target="_blank" class="menu-contact">
			I'm hiring
		</a>
	</li>
	<li>
		<a href="{{site.data.central.mailchimp}}" target="_blank" class="menu-subscribe">
			Subscribe
		</a>
	</li>
</ul>

