<div class="navigationBar-wrapper"> <!-- used this for blocking background -->
<header class="navigationBar container" id="navigationBar">
	<div class="nav l--grid-wide l--flex l--flex-sb l--flex-align-baseline p-t-04">
		<div class="nav--left logo">
			<a href="{{site.url}}" >
				{{site.data.central.fullname}}
			</a>
		</div>
		<nav class="nav--right menu">
			<ul class="main-menu">
				{% assign current = page.url | downcase | split: '/' %}
				<!-- loop: _data / menu.yml -->
				{% assign sorted = site.data.menu | sort: 'order' %}
				{% for menu in sorted %}
				<li>
					<a {% if menu.link %} href="{{menu.link}}" {% endif %} class="{% if current[1] == {{menu.current}} %}current{% endif %}" {% if menu.target %}target="_blank"{% endif %}> {{ menu.word }} </a>
				</li>
				{% endfor %}
				<li><a href="http://eepurl.com/cuGqAP" target="_blank" class="btn-dark btn-small subscribe-btn-navbar">Subscribe</a></li>
				<!-- loop end -->
			</ul>
		</nav>
		
	</div>
</header>
</div>