<header class="navigationBar container" id="navigationBar">
	<div class="nav l--grid-wide l--flex l--flex-sb l--flex-align-baseline p-t-04">
		<div class="nav--left logo">
			<a href="{{site.url}}" >
				Budi Tanrim
			</a>
		</div>
		<div class="nav--right menu">
			<ul class="main-menu">
				<!-- loop: _data / menu.yml -->
				{% assign sorted = site.data.menu | sort: 'order' %}
				{% for menu in sorted %}
				<li>
					<a {% if menu.link %} href="{{menu.link}}" {% endif %} {% if current[1] == 'author' %}class="current"{% endif %} {% if menu.target %}target="_blank"{% endif %}> {{ menu.word }} </a>
				</li>
				{% endfor %}
				<li><a href="http://eepurl.com/cuGqAP" target="_blank" class="btn-dark btn-small">Subscribe</a></li>
				<!-- loop end -->
			</ul>
		</div>
		
	</div>
</header>