<div class="social-share-wrapper p-t-xs p-b-xl">
    <!-- <span class="social-text t--body-02">
    	Share &rarr;
    </span> -->
	
    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter" class="social-share twitter ga-twitter-blog-post">
    	<img src="/img/SVG/twitter.svg" alt="share on Twitter">
    </a>
    <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook" class="social-share facebook ga-facebook-blog-post">
    	<img src="/img/SVG/facebook.svg" alt="share on Facebook">
    </a>

</div>