// Collection of component

// Highlight box
// Usage: Being used inside the article, to highlight a certain content. Mostly used for highlighting the table of content

.highlight-box {
	margin-top: 20px;
	margin-bottom: 20px;
}

.highlight-box:before {
	background: #efefef;
	padding-left: 0px;
	@extend %content-max-width;
}

.highlight-box ol,
.highlight-box ul {
    padding-left: 48px;
    padding-top: 16px;
    padding-bottom: 16px;
}

// Heading spacing

h2+h3,
h1+h3,
h2+h4,
h1+h4,
h4+h3 {
	margin-top: -4px;
	padding-top: 0!important;
}

// Heading spacing
.small-text {
    font-size: 14px;
    color: $body-text;
    line-height: 1.5;
}

// Tables

table{
    border-collapse: collapse;
    border-spacing: 0;
    border:1px solid $gray-ash;
    @extend %content-max-width;
    width: 100%;
    margin-top: 16px;
    margin-bottom: 20px;
}

th, td {
	padding: 12px 16px 12px 8px;
	border:1px solid $gray-ash;
}
