@mixin margin-btm($property) {
	margin-bottom: calc(#{$property} * #{$baseline});
}
@mixin margin-top($property) {
	margin-top: calc(#{$property} * #{$baseline});
}
@mixin margin-left($property) {
	margin-left: calc(#{$property} * #{$baseline});
}
@mixin margin-right($property) {
	margin-right: calc(#{$property} * #{$baseline});
}


@mixin padding-btm($property) {
	padding-bottom: calc(#{$property} * #{$baseline});
}
@mixin padding-top($property) {
	padding-top: calc(#{$property} * #{$baseline});
}
@mixin padding-left($property) {
	padding-left: calc(#{$property} * #{$baseline});
}
@mixin padding-right($property) {
	padding-right: calc(#{$property} * #{$baseline});
}

// used for sidebar and home
@mixin base-background {
	background: #ffffff;
}