$yellow: #FFDB00;
$yellow-highlight: #fffce6;
$yellow-light: #FFF6BF;
$black: #000000;
$charcoal: #222222;
$body-text: #4B4B4B;
$gray-silver: #999999;
$gray-ash: #C6C6C6;
$gray-light: #E7E7E7;
$gray-lightest: #D3D3D3;
$border-light: #EEEEEE;

// Noticia + Roboto
$serif: 'Noticia Text', "Georgia", serif;
$sans: 'Roboto', 'Arial', sans-serif;

// Source Sans + Source Serif Pro
// $serif: 'Source Serif Pro', serif;
// $sans: 'Source Sans Pro', sans-serif;

$baseline: 4px;
$size__body-text: 18px;

$spacing-extra-tight: 8px;
$spacing-tight: 12px;
$spacing-regular: 16px;
$spacing-loose: 20px;
$spacing-extra-loose: 28px;
