$yellow: #FFDB00;
$yellow-light: #FFF6BF;
$black: #000000;
$charcoal: #222222;
$gray-silver: #999999;
$gray-ash: #C6C6C6;
$gray-light: #E7E7E7;
$gray-lightest: #D3D3D3;
$border-light: #EEEEEE;

$serif: 'Noticia Text', serif;
$sans: 'Roboto', Arial, sans-serif;

$baseline: 4px;
