$yellow: #FFDB00;
$yellow-highlight: #fffce6;
$yellow-light: #FFF6BF;
$black: #000000;
$charcoal: #222222;
$body-text: #4B4B4B;
$gray-silver: #999999;
$gray-ash: #C6C6C6;
$gray-light: #E7E7E7;
$gray-lightest: #D3D3D3;
$border-light: #EEEEEE;
$border-medium: #D3D3D3;

// Noticia + Roboto
$serif: 'Noticia Text', "Georgia", serif;
$sans: 'Roboto', 'Arial', sans-serif;

// Source Sans + Source Serif Pro
// $serif: 'Source Serif Pro', serif;
// $sans: 'Source Sans Pro', sans-serif;

$baseline: 4px;
$size__body-text: 18px;

$spacing-extra-tight: 8px;
$spacing-tight: 12px;
$spacing-regular: 16px;
$spacing-loose: 20px;
$spacing-extra-loose: 28px;

$font-size-ultra: 12rem;
$line-height-ultra: 12rem;

$font-size-mega: 9rem;
$line-height-mega: 9.8rem;

$font-size-extra-large: 7.2rem;
$font-size-large: 6.4rem;
$font-size-medium: 4rem;
$font-size-small: 3.2rem;
$font-size-extra-small: 2.8rem;
$line-height-extra-small: 4rem;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-black: 900;