%serif { font-family: $serif;}
%sans { font-family: $sans; }
%post-title-width {
	max-width: 480px;
}

%content-max-width{
	max-width: 500px;
	@include breakpoint(from-desktop-mid) {
		max-width: 560px;
	}
}

// Used on home (blog-list-loop)
%post-line-height {
	line-height: 24px;
}

// Used for main-wrap and .footer
%main-indent {
	@include breakpoint(from-tablet) {
		margin-left: calc(100px + 3%);
	}
	@include breakpoint(from-desktop) {
		margin-left: calc(100px + 5%);
	}
	@include breakpoint(from-desktop-mid) {
		margin-left: calc(100px + 15%);
	}
}
