@import "global/normalize";
@import "global/colors";
@import "global/grid-layout";
@import "global/grid";
@import "global/spacing";
@import "global/typography";
@import "global/image";
@import "components/navigationbar";
@import "components/button";
@import "components/progressbar";
@import "components/author-block";
@import "components/applause-button";


body, html {
	font-size: 22px; // for rem
	line-height: 1.6;
	background: var(--c--theme-bg);
	font-family: var(--t--family-slab);
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

@media (max-width: 1680px) {
	body, html { 
		font-size: 19px;
		line-height: 1.6;
	}
}

@media (max-width: 800px) {
	body, html { 
		font-size: 17px;
		line-height: 1.5;
	}
}

::selection {
	background: var(--c--theme-highlight);
}

//newsletter
.newsletter--input {
	padding: 12px 16px;
	display: block;
	width: 95%;
	box-sizing: border-box; // to fix the width goes beyond the parent
}

// Blog index
.post {
	&-row {
		&--title {
			line-height: 1.35;
			margin-bottom: 6px;
		}
		&--date {
			min-width: 70px;
			line-height: 1.35;
		}
	}
}

// Blog inner
.post-inner--heading {
	border-bottom: 2px solid var(--c--theme-fg);
}

.post-inner--body, 
.markdown {
	p, ul, li {
		margin-bottom: var(--l--space-s);
		color: var(--c--theme-gray-02);
	}
	h1 {
		padding-top: var(--l--space-l);
	}
	h1, h4, h5 {
		margin-bottom: var(--l--space-s);
	}
	h2, h3 {
		margin-bottom: var(--l--space-08);
	}
	.caption {
		margin-top: var(--l--space-08);
		display: block;
		color: var(--c--theme-gray-03);
		font-size: var(--t--size-01);
	}
	hr {
		margin-left: 0px;
		margin-bottom: var(--l--space-m);
		margin-top: var(--l--space-l);
		border-top: 1px solid var(--c--theme-gray-06);
	}
	ul, ol {
		margin-left: var(--l--space-16);
		margin-top: -12px;
		li {
			line-height: 1.65;
			margin-bottom: 0;
		}
	}
	h2 + ul,
	h3 + ul {
		margin-top: 0px;
	}

	//blockquote
	blockquote {
		margin-left: 0; // reset webkit preset
		p {
			border-left: 3px solid #ffdb00;
		    color: #4b4b4b;
		    font-size: 18px;
		    font-weight: 400;
		    line-height: 1.6;
		    padding-left: 16px;
		}
	    cite {
	    	background: none;
	    	display: block;
		    color: var(--c--theme-gray-03);
		    font-size: 16px;
		    font-weight: 700;
		    margin-bottom: var(--l--space-08);
		    margin-top: 4px;

		    &:before {
		    	    content: "\2014";
		    }
	    }
	}
	
	//share
	.social-share-wrapper {
		padding-top: var(--l--space-s);
		padding-bottom: var(--l--space-m);
	}
	.social-share {
		display: inline-block;
		margin-right: 12px;
		width: 24px;
		height: auto;
		border-bottom: none;
		vertical-align: middle;

		&:last-child {
			margin-right: 0;
		}
		&:hover {
			background: none;
		}
	}
	a.social-share.twitter { width: 24px; }
	a.social-share.facebook { width: 20px; }
	.social-text {
		margin-right: 20px;
	}
}

@media (max-width: 880px) {
	.post-inner--narrow {
		padding-right: 0;
		div { 
			max-width: 100%; 
			img {
				max-width: 100%; 				
			}
		}
	}
	.post-inner--heading,
	.post-inner--body {
		padding-right: 0px;
	}
	.newsletter--input {
		padding: 12px 16px;
		width: 100%;
	}
	.post-inner--body {
		p, ul, li {
			margin-bottom: var(--l--space-s);
		}
	}
}


// Project
.project {

	&--index-row-description { max-width: 90%; }
}

// Youtube
.youtube-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  margin-bottom: var(--l--space-l);
}
.youtube-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

// Gallery
.gallery-bio {
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: static;
    padding-left: 16px;
    
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
    padding-bottom: 20px;
}
.gallery-bio .photo {
	flex: 0 0 auto;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    margin-right: 8px;

    width: 92%;
    height: 260px;
}

// ini harus sama dengan .container
@media (min-width: 768px) {
  .gallery-bio { padding-left: 24px; }
  .gallery-bio .photo {
  	width: 480px;
  	height: 340px;
  }
}

@media (min-width: 1200px) {
  .gallery-bio { padding-left: 4vw; }
  .gallery-bio .photo {
  	width: 680px;
  	height: 480px;
  }
}
.photo.jpn,
.photo.allhands,
.photo.self,
.photo.stoqo {
	background-size: cover;
	background-position: 50% 50%;
}
.photo.self {background-image: url(/img/asset/buditanrim-portrait.jpg);}
.photo.jpn {background-image: url(/img/asset/about-japan-travel.jpg);}
.photo.allhands {background-image: url(/img/asset/about-all-hands.jpg);}
.photo.stoqo {background-image: url(/img/asset/about-stoqo.jpg);}

// Sidebar on journal

@media (min-width: 992px) {
  .journal-panel {
		position: sticky;
		top: 12px;
		z-index: 5000;
		overflow-y: auto;
		height: calc(100vh + 100px);

		&--wrapper {
			overflow-y: auto;
	    	padding-right: 20px;
		}
	}
}

.nice-scrollbar {
	&::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
		background-color: var(--c--theme-gray-06);
	}

	&::-webkit-scrollbar {
		width: 4px;
		height: 12px;
		background-color: var(--c--theme-gray-06);
	}

	&::-webkit-scrollbar-thumb {
		background-color: var(--c--theme-gray-02);
	}
}


