@import "global/normalize";
@import "global/colors";
@import "global/grid-layout";
@import "global/spacing";
@import "global/typography";
@import "components/navigationbar";
@import "components/button";

body, html {
  font-size: 16px; // for rem
  background: var(--c--theme-bg);
  font-family: var(--t--family-sans-serif);
}

// Page blog index
.post {
	&--date {
		min-width: 58px;
	}
}

.post-inner--narrow {
	p, ul, li {
		font-size: var(--t--size-05);
		line-height: var(--t--leading-e-05);
		margin-bottom: var(--l--space-m);
		color: var(--c--theme-gray-02);
	}
	h1 {
		padding-top: var(--l--space-l);
	}
	h1, 
	div,
	h4,
	h5 {
		margin-bottom: var(--l--space-s);
	}
	h2,
	h3 {
		margin-bottom: var(--l--space-08);
	}
	.caption {
		margin-top: var(--l--space-08);
		display: block;
		color: var(--c--theme-gray-03);
	}
	ul {
		margin-left: var(--l--space-16);
		li {
			line-height: 1.8;
			margin-bottom: 0;
		}
	}
	blockquote {
		margin-left: 0; // reset webkit preset
		p {
			border-left: 3px solid #ffdb00;
		    color: #4b4b4b;
		    font-size: 18px;
		    font-weight: 400;
		    line-height: 1.6;
		    padding-left: 16px;
		}
	    cite {
	    	background: none;
	    	display: block;
		    color: var(--c--theme-gray-03);
		    font-size: 16px;
		    font-weight: 700;
		    margin-bottom: var(--l--space-08);
		    margin-top: 4px;

		    &:before {
		    	    content: "\2014";
		    }
	    }
	}

}


// Project
.project {

	&--index-row-description { max-width: 90%; }
}