.bg-hover-soft-yellow:hover {
	background: #FFF9D3;
}

.bg-hover-blue:hover {
	background: #E0E0F5;
}

.bg-hover-green:hover {
	background: #E3F4E8;
}

.post-action-image{
	// display: inline-block;
	vertical-align: middle;
}

.post-action-text {
	// display: inline-block;
	vertical-align: middle;
	margin-top: -8px;

	.t--caption-01 {
	    line-height: 1.5;
	}
}