// reset button
button {
	border: none;
	outline: none;
	padding: 0;
}

.btn-newsletter {
	width: 100%;
    padding: 14px 16px;
    margin-top: 27px;
}


// Component - Button primary
[class*="btn-"] { font-family: var(--t--family-sans-serif); }

.btn {
	&-large {
		padding: 8px 24px;
		line-height: 42px;
	}

	&-medium {
		padding: 16px 28px;
		line-height: 42px;
	}

	&-small {
		padding: 8px 14px;
		line-height: 8px;
		font-size: var(--t--size-02);
	}

	&-primary {
		background-color: var(--c--theme-primary-01);
		border-radius: var(--l--border-radius-02);
		font-family: var(--t--family-sans-serif);
		border: none;

		&:hover {
			background-color: var(--c--theme-hover-primary-01);
			color: var(--c--theme-gray-01);
		}
	}

	&-dark {
		background-color: var(--c--theme-gray-01);
		border-radius: var(--l--border-radius-02);
		color: var(--c--theme-inverse);
		border: none;

		&:hover {
			background-color: var(--c--theme-gray-02);
			color: var(--c--theme-inverse);
		}
	}

	// Add ghost button style here
}