// reset button
button {
	border: none;
	outline: none;
	padding: 0;
}

.btn-newsletter {
	width: 100%;
    padding: 14px 16px;
    margin-top: 27px;
}


// Component - Button primary
.btn {
	&-large {
		padding: 8px 24px;
		line-height: 42px;
	}

	&-primary {
		background-color: var(--c--theme-primary-01);
		border-radius: var(--l--border-radius-02);
		border: none;

		&:hover {
			background-color: var(--c--theme-hover-primary-01);
			color: var(--c--theme-gray-01);
		}
	}
}