.navigationBar {
  background-color: transparent;

  .logo {
    img {
      width: 140px;
      height: 36px;
    }
  }
  .main-menu {
    // adjust the flex
    display: flex;
    justify-content: flex-start;

    li {
      align-items: baseline;
      list-style-type: none;
      &:first-child { margin-left: -12px; }
    }
    li a {
      padding: 16px 12px;
      display: block;
      font-size: 18px;
    }
  }
  
}

.nav {
  &--left {

  }
  &--right {

  }
}

@media (max-width: 800px) {
.nav {
  // make it horizontal scroll
  overflow: auto;
  flex-flow: row;
  white-space: nowrap;
  border-bottom: 1px solid var(--c--theme-gray-05);
  padding-bottom: var(--l--space-xs);

  &--left {
    margin-bottom: var(--l--space-08);
    margin-right: var(--l--space-xs);
    padding-right: var(--l--space-xs);
    border-right: 1px solid var(--c--theme-gray-05);
  }
  &--right {
    
  }
}
}