.navigationBar {
  background-color: transparent;
  font-family: var(--t--family-sans-serif);

  .logo {
    a {
      font-weight: bold;
    }
  }
  .main-menu {
    // adjust the flex
    display: flex;
    justify-content: flex-start;

    li {
      align-items: baseline;
      list-style-type: none;
      padding: 16px 10px;
      display: block;
      font-size: var(--t--size-03);
      &:first-child { margin-left: -12px; }
    }
  }
}


@media (min-width: 1600px) {
  .navigationBar {
    .main-menu {
      li {
        font-size: var(--t--size-02);
      }
    } 
  }
}

@media (max-width: 800px) {
.nav {
  // make it horizontal scroll
  overflow: auto;
  flex-flow: row;
  white-space: nowrap;
  border-bottom: 1px solid var(--c--theme-gray-05);
  padding-bottom: var(--l--space-xs);

  &--left {
    margin-bottom: var(--l--space-08);
    margin-right: var(--l--space-xs);
    padding-right: var(--l--space-xs);
    border-right: 1px solid var(--c--theme-gray-05);
  }
  &--right {
    
  }
}
}

.dark-opening .navigationBar-wrapper {
  background: #000;

  .logo {
    a { color: white; }
  }
  .main-menu > li > a {
    color: white;
    opacity: .8;
  }
  .main-menu > li > a:hover {
    opacity: 1;
  }
}