{% include header.html %}
<body>

	<div id="page" class="parent-page about">
		{% include sidebar.html %}
		
		<div id="main" role="main">
			<section class="main-wrap">
				
				{% include img-caption.html 
				url="/img/asset/budi-doodle.png" 
				url-2="/img/asset/budi-doodle-2x.png" 
				alt="Budi Tanrim" 
				class="illustration about-doodle" %}

				<h2 class="single-post-title about-title">
					Hey! I’m Budi Tanrim and welcome to Yellowstroke.com
				</h2>
				<p class="about-description">
					Using a multidisciplinary approach, Budi previously worked as a Product Designer at Shopify on the Creative Direction team. During my time at Shopify, he helped extend, maintain, and evolve the design system to a specific local team. He is currently getting acclimated to the humidity in Jakarta, Indonesia. In this blog, he continuously shares some of his learnings that can benefit the readers.
				</p>

				<section class="about-meta">
					<div>
						<p class="uppercase">Pronounce</p>
						<p>Boo-dee</p>
					</div>
					<div>
						<p class="uppercase">Location</p>
						<p>Jakarta, Indonesia</p>
					</div>
					<div>
						<p class="uppercase">Experience</p>
						<p>8 years</p>
					</div>
				</section>

				{% include img-caption.html 
				url="/img/asset/buditanrim-portrait.png" 
				url-2="/img/asset/buditanrim-portrait-2x.png" 
				alt="Budi Tanrim" 
				class="illustration about-portrait" %}

				<div class="about-presence">
					<h4>Online presence</h4>
					<section class="presence-list">
						<a href="https://www.instagram.com/buditanrim">
							<span class="channel">Instagram</span>
							<span class="explanation">Where I share my artistic side.</span>
						</a>
						<a href="https://twitter.com/buditanrim">
							<span class="channel">Twitter</span>
							<span class="explanation">Where I talk about non-sense.</span>
						</a>
						<a href="https://dribbble.com/buditanrim">
							<span class="channel">Dribbble</span>
							<span class="explanation">My mini portfolio.</span>
						</a>
						<a href="https://www.linkedin.com/in/buditanrim/">
							<span class="channel">LinkedIn</span>
							<span class="explanation">My "professional" cv.</span>
						</a>
					</section>
				</div>

				<div class="about-client">
					<h4>Clients</h4>
					<ul class="neutral">
						<li>Shopify</li>
						<li>Yahoo</li>
						<li>Palantir</li>
						<li>Feedly</li>
						<li>Zerply</li>
						<li>Marvel app</li>
						<li>DBS</li>
						<li>Hyke</li>
						<li>Disney</li>
						<li>Refundo</li>
					</ul>
				</div>

			</section>
		</div>

		{% include navigation.html %}

	</div>

	{% include script.html %}
	{% include footer.html %}
</body>
</html>