{% include header.html %}

<div class="container m-t-l m-b-s">
	<div class="row m-b-xs">
		<div class="col">
			<h1 class="t--title-01">Hi. I'm Budi Tanrim.</h1>
		</div>
	</div>
	<div class="row m-b-s">
		<div class="col-sm-12 col-md-7">
			<h3>A Head of Design, a framework fanatic, a collaborative complex problem solver, a business-aware designer. </h3>
		</div>
	</div>
	<div class="row m-b-s">
		<div class="col-sm-12 col-md-7 markdown">
			<p>I'm currently leading design team of 90+ people at Bukalapak. I'm in the mission to embed and sustain the human-centered practice in the company, creating safe and constructive design cultures, and empower team through framework and methods.</p>
			<p>Previously, I worked with Shopify to improve the onboarding experience and defining the icon language and principles. Before that, I worked with various companies during my time as a freelancer: Yahoo, Wealthsimple, Marvelapp, Zerply, and more!</p>
			<p>I created icon foundry called <a href="https://budicon.co/" class="neutral-link">Budicon</a> in 2013. It used and helped a lot of companies like inVision, Hotjar, Adobe, Creative Market, and Disney.</p>
			<!-- <p><a href="" class="link">View resume</a></p> -->
		</div>
	</div>
</div>

<div class="gallery-bio m-b-xl mobile-m-b-s">
	<div class="photo self"></div>
	<div class="photo allhands"></div>
	<div class="photo jpn"></div>
</div>

<div class="container p-t-l m-b-xl">
	<div class="row flush-s m-b-l">
		<div class="col-sm-10 col-md-4 mobile-m-b-s"><p class="t--heading-02">Co-creator. <span class="t--color-tetriary">I believe in collaborative process to gain multidisciplinary perspective to solve wicked problems</span></p></div>
		<div class="col-sm-10 col-md-4 mobile-m-b-s"><p class="t--heading-02">Framework fanatic. <span class="t--color-tetriary">I develop and apply frameworks for my team to make impact at scale</span></p></div>
		<div class="col-sm-10 col-md-4 mobile-m-b-s"><p class="t--heading-02">Business aware. <span class="t--color-tetriary">I connect the dots to produce viable, valuable, feasible product to achieve desired outcome.</span></p></div>
	</div>
	<hr class="m-b-l">
	<div class="row markdown m-t-s">
		<div class="col-sm-12 col-md-6 mobile-m-b-s">
			<h3>Speaking</h3>
			<p>
				<i>Evolving Design Systems Through Research</i><br/>
				UXID in Indonesia, 2020
			</p>
			<p>
				<i>You Have Design Systems, What's Next?</i><br/>
				Bukalapak Roundup in Indonesia, 2019
			</p>
			<p>
				<i>Design Systems at Scale</i><br/>
				Stoqo in Indonesia, 2019
			</p>
			<p>
				<i>Design Critique</i><br/>
				Bukalapak All Hands in Indonesia, 2018
			</p>
			<p>
				<i>Designing icon for Internationalization</i><br/>
				Shopify in Toronto, Canada, 2018
			</p>
		</div>
		<div class="col-sm-12 col-md-6">
			<h3>Publications</h3>
			<p>
				<a href="https://interfacelovers.com/interviews/budi-tanrim" class="link">Budi Tanrim – Shopify</a><br/>
				Interfacelovers, 2019
			</p>
			<p>
				<a href="https://blog.iconfinder.com/interview-with-budi-tanrim-6d990e13bcf8" class="link">Interview with Budi Tanrim</a><br/>
				Iconfinder, 2017
			</p>
			<p>
				<a href="https://iconutopia.com/interview-budi-tanrim-budicon/" class="link">Budi Tanrim – Budicon</a> <br/>
				Iconutopia, 2017
			</p>
			<p>
				<a href="https://medium.com/insightdesign/budi-tanrim-multidiscplinary-designer-9e07969220da" class="link">Budi Tanrim – Multidisciplinary Designer</a>
				<br/>
				Insight Design Indonesia, 2017
			</p>
		</div>
	</div>
</div>


{% include footer-bar.html %}
	{% include script.html %}
</body>
</html>