{% include header.html %}

<div class="l--grid m-t-07 m-b-07 p-b-05">
	<div class="l--grid-narrow">
		<img srcset="../img/asset/budi-portrait-mask.png 1x,
					../img/asset/budi-portrait-mask-2x.png 2x" alt="budi-tanrim-portrait-illustration" class="m-b-03">
		<div class="t--heading-04 m-b-03">I'm a Head of Design, Designer, problem-solver, and crunchy snack hunter.</div>
		<p class="m-b-05">Keywords from my colleagues about me: Calm, candid, listener, focused, and systematic. I integrate human-centered design to drive better business result. Currently passionately leading design team at Bukalapak.</p>

		<div class="l--row">
			<img src="" alt="">
			<p class="t--heading-02">Co-creator. <span class="t--color-tetriary">I believe in collaborative process to gain wide perspective to solve wicked problems</span></p>
		</div>

		<div class="l--row">
			<img src="" alt="">
			<p class="t--heading-02">Framework fanatic. <span class="t--color-tetriary">I develop and apply frameworks to my practice to make impact at scale</span></p>
		</div>

		<div class="l--row">
			<img src="" alt="">
			<p class="t--heading-02">Crafter by heart. <span class="t--color-tetriary">I stumbled into design after I majored in accounting. I constantly practice and reflect to improve ever since</span></p>
		</div>
		
		<div class="l--row">
			
		</div>

		{{ content }}
	</div>
</div>


{% include footer-bar.html %}
	{% include script.html %}
</body>
</html>