{% include header.html %}
<body>

	<div id="page" class="parent-page homepage">
		{% include sidebar.html %}

		<div id="main" role="main">
			<section class="main-wrap">
				<h2 class="page-title">yellowstroke.com/index</h2>
				

				{% for post in site.posts %}
					{% assign currentdate = post.date | date: "%Y" %}
					{% if currentdate != date %}
						{% unless forloop.first %}</ul>{% endunless %}
						<h3 class="post-year">{{ currentdate }}</h3>
						<ul class="posts">
						{% assign date = currentdate %}
					{% endif %}
						<li>
							<a href="{{ post.url }}" class="post-link">
								<span class="post-time">
									{{post.date | date: '%b %d'}}
								</span>
								<span class="post-title">
									{{post.title}}
								</span>
								<!-- <span class="post-punchline">
									{{post.punchline}}
								</span> -->
							</a>
						</li>
					{% if forloop.last %}</ul>{% endif %}
					{% endfor %}
					
				</ul>
			</section>
		</div>
		{% include navigation.html %}

	</div>
	
	{% include script.html %}
	{% include footer.html %}
</body>
</html>