{% include header.html %}
<section class="mentorship-wrapper m-t-l m-b-xl">
<div class="container">
	<div class="row">
		<div class="col-12 col-md-8">
			<div class="m-b-xs">
				<img src="/img/project/mentorship/pencil-mentor.png" alt="Virtual mentorship with Budi Tanrim" width="200">
			</div>
			<section class="heading m-b-xl">
				<h1 class="t--big-title-01 m-b-xs">Mentorship program</h1>
				<p class="t--body-02 t--primary">Currently on hold</p>
			</section>

			<p class="t--heading-01" style="line-height: 1.8rem;">
				This program is my attempt to give back to the design community. The first batch has completed. Now, I'm putting this mentorship program on hold to focus on writing a book. To help people at a larger scale. I'm committed to continue this program in the future, stay tuned.
			</p>

			<hr class="airy dark">

			<section class="markdown">
				<p class="t--heading-02 m-b-xs" style="line-height: 1.8rem;">
					What people said
				</p>
				<div class="testimonial-piece m-b-m">
					<p class="t--body-02 testimonial" style="line-height: 1.8rem;">
						Budi has broaden up my knowledge as a designer. Not only in the technical aspect, but to also think strategically in the business. Junior designers like me need more leaders like Budi who’d nurture and guide me while at the same time open up my way of strategic thinking and problem solving. I was unsure about lots of things and facing challenges in work, and Budi had helped me how to face and overcome those challenges. He taught me a lot of things without putting himself as “a teacher.”
					</p>
					<p class="t--body-02 bold">Aish</p>
				</div>
				<div class="testimonial-piece m-b-m">
					<p class="t--body-02 testimonial" style="line-height: 1.8rem;">
						I find the sessions very insightful! I learned a lot in every single session, I feel like I 'grow' as a person, as a designer after (only) a few sessions with Ka Budi. I can say that Ka Budi is a very wonderful mentor and brainstorming partner! He always create a positive atmosphere for me to grow, he celebrates progress and small wins. 

						I love everything about the sessions. Ka Budi helped me to understand my challenges better. Yes, he summarized it in points (which is really helpful for me) then shared some practical suggestions/insights. He didn't stop there, he always make sure that I understand and know what's going to be my next step. Here are some of my top takeaways : Write, write, write. Collaborate cross-functional. And as what he always says, focus on outcome.
					</p>
					<p class="t--body-02 bold">Elva</p>
				</div>
				<div class="testimonial-piece m-b-m">
					<p class="t--body-02 testimonial" style="line-height: 1.8rem;">
						My main goal during the mentorship program is to learn about stakeholders management, as I believe it is the key to build better products. The top takeaways I get from the 1:1 session with Budi on the mentorship program so far is: Budi coached me that to master stakeholders management, I have to build a genuine relationship with them. I have to try to understand each stakeholder's priorities, I need to uncover the reason behind each decision they made and understand each demand they have to truly support the business side. So far, I've been doing it and things have been good at my current company! Thanks to Budi!
					</p>
					<p class="t--body-02 bold">Julian</p>
				</div>

				<div class="testimonial-piece m-b-m">
					<p class="t--body-02 testimonial" style="line-height: 1.8rem;">
						Besides giving insightful feedback, Budi also asked on-point questions which helped me rediscover my work and career.
					</p>
					<p class="t--body-02 bold">Gilang</p>
				</div>
			</section>

			<!-- <p class="t--heading-01">{{site.data.central.m-description}}</p>
			<hr class="airy dark">
			<p class="t--heading-03 m-b-s">Who (Criteria)</p>
			<p class="t--heading-01" style="line-height: 1.8rem;">
				- You’re a junior to mid-level product designer or a graduated student.<br/>
				- You’ve done 2-4 years of a full-time role as a product designer or equivalent.<br/>
				- For the student: You have done an internship.<br/>
				- You are an Individual contributor designer.<br/>
				- You have a strong design fundamental & have a portfolio.<br/>
				- You have a big ambition for your career.<br/>
				- You live around the UTC+07 timezone (WIB).<br/>
				<br>
				Unfortunately, due to the timezone, I'll focus on the APAC area first. If there are interests from other timezones, I'll consider it for the next batch. I also aim for 3 women and 3 men as the proportion of this group. 
				<br>
				If your current role is researcher or content strategist who look for a shift to be a designer, feel free to sign up and share your portfolio.
			</p>	
			<hr class="airy dark">
			<p class="t--heading-03 m-b-s">What will we do? (Commitment)</p>
			<p class="t--heading-01">
				We will have a combination of 1-on-1 and group sessions. During the 1-on-1 session, we’ll talk about your current challenge and will end it with a concrete next step for you to experiment with. In between, we will have a group session where we share our learnings with each other. A few commitments to make this program successful:<br/><br/>
				- Being present and engaged for 8 sessions starting from Feb 1.<br/>
				- Check the schedule <a href="{{site.data.central.m-link-sheet}}" class="link" target="_blank">here</a><br/>
				- Do a light assignment before the session.<br/>
			</p>
			<hr class="airy dark">
			<p class="t--heading-01">
				Sign up is closed.
				<br>
				Have questions? Send me a message on <a href="https://twitter.com/buditanrim" target="_blank" class="link">Twitter</a>.
				<br>
				Update: <a href="https://calendly.com/budi-tanrim/chat" class="link">I'm opening a paid 1-on-1 session</a> for you who want to discuss career challenges or portfolio review.
			</p> -->
<!-- 			<div class="l--flex l--flex-auto-responsive m-t-xl">
				<a href="https://forms.gle/kdxUpUssgkGsBN5AA" class="btn-dark btn-medium m-r-s mobile-m-b-s" target="_blank">Sign up (Indonesia)</a>
				<a href="https://forms.gle/uUuQutAxGbHBqCEm9" class="btn-dark btn-medium" target="_blank">Sign up (English)</a>
			</div> -->


			
		</div>
	</div>
</div>
</section>


{% include footer.html %}