{% include header.html %}
<section class="mentorship-wrapper m-t-l m-b-xl">
<div class="container">
	<div class="row">
		<div class="col-12 col-md-8 offset-md-2">
			<div class="t--center m-b-xs">
				<img src="/img/project/mentorship/pencil-mentor.png" alt="Virtual mentorship with Budi Tanrim" width="200">
			</div>
			<section class="heading m-b-xl">
				<p class="t--eyebrow t--center p-t-m">Feb 1 - Apr 14</p>
				<h1 class="t--big-title-01 t--center m-b-xs">Design peers</h1>
				<p class="t--body-02 t--primary t--center">A virtual mentorship program by Budi Tanrim</p>
			</section>
			<p class="t--heading-01">{{site.data.central.m-description}}</p>
			<hr class="airy dark">
			<p class="t--heading-03 m-b-s">Who (Criteria)</p>
			<p class="t--heading-01" style="line-height: 1.8rem;">
				- You’re a junior to mid-level product designer or a graduated student.<br/>
				- You’ve done 2-4 years of a full-time role as a product designer or equivalent.<br/>
				- For the student: You have done an internship.<br/>
				- You are an Individual contributor designer.<br/>
				- You have a strong design fundamental & have a portfolio.<br/>
				- You have a big ambition for your career.<br/>
				- You live around the UTC+08:00 timezone (WIB).<br/>
				<br>
				Unfortunately, due to the timezone, I'll focus on the APAC area first. If there are interests from other timezones, I'll consider it for the next batch. I also aim for 3 women and 3 men as the proportion of this group.
			</p>	
			<hr class="airy dark">
			<p class="t--heading-03 m-b-s">What will we do? (Commitment)</p>
			<p class="t--heading-01">
				We will have a combination of 1-on-1 and group sessions. During the 1-on-1 session, we’ll talk about your current challenge and will end it with a concrete next step for you to experiment with. In between, we will have a group session where we share our learnings with each other. A few commitments to make this program successful:<br/><br/>
				- Being present and engaged for 8 sessions starting from Feb 1.<br/>
				- Check the schedule <a href="{{site.data.central.m-link-sheet}}" class="link" target="_blank">here</a><br/>
				- Do a light assignment before the session.<br/>
			</p>
			<hr class="airy dark">
			<p class="t--heading-01">
				Interested? Fill out the form by Friday, Jan 22nd.
				<br>
				Have questions? Send me a message on <a href="https://twitter.com/buditanrim" target="_blank">Twitter</a>.
			</p>
			<div class="l--flex m-t-xl">
				<a href="/" class="btn-dark btn-medium m-r-s" target="_blank">Sign up (Indonesia)</a>
				<a href="/projects" class="btn-dark btn-medium" target="_blank">Sign up (English)</a>
			</div>
		</div>
	</div>
</div>
</section>


{% include footer.html %}