{% include header.html %}


<div class="container section-space-tight">
    <div class="row">

    	<div class="col-sm-12 col-md-6 offset-md-3 markdown">
    		<!-- <div class="img-wrapper illustration l--center tiny m-t-s m-b-s">
			    <img src="/img/asset/newsletter-logo-2022.jpg" alt="Budi Tanrim's newsletter"/ class="mx-w-60">
			</div> -->
		</div>
		<div class="col-sm-12 col-md-4 offset-md-4 markdown">
			<!-- <h4 class="l--center">{{page.description}}</h4> -->

			<!-- <div class="m-t-m m-b-xl l--center">
			    <a href="http://eepurl.com/cuGqAP" class="btn-dark btn-medium center">Subscribe</a>
			</div> -->
		</div>
		<div class="col-sm-12 col-md-6 offset-md-3 markdown">
		{{ content }}
		</div>

	</div>
</div>
{% include footer.html %}