{% include header.html %}

<div class="container section-space-tight">
    <div class="row">
    	<div class="col-sm-12 col-md-6 offset-md-3">
    		{% if page.title-position == "center" %}
				<h1 class="l--center m-b-m">{{ page.title }}</h1>
			{% elsif page.title-position == "left" %}
				<h1 class="m-b-s">{{ page.title }}</h1>
			{% endif %}
    	</div>

    	<div class="col-sm-12 col-md-6 offset-md-3 post-inner--body markdown">
			{{ content }}
		</div>
    </div>
</div>


{% include footer-bar.html %}
	{% include script.html %}
</body>
</html>