{% include header.html %}
<div class="container m-t-l m-b-xxl">
	<div class="row">
		<div class="col-sm-12 col-md-8 offset-md-2 m-t-xl p-t-l">
			<p class="t--mono-02 m-b-xs">2018 - 2021 | Bukalapak</p>
			<h1 class="t--big-title-01 m-b-xs p-b-xs c--crimson">Scaling human-centered practice</h1>

			<img src="/img/project/bukalapak-hcd/hero.jpg" alt="user and shop" class="p-t-l m-b-xl p-b-xl mobile-p-b-xs" width="650px">

			<p class="t--eyebrow-crimson m-b-xs">Intro</p>
			<p class="t--heading-02">
				In 2018, we had to take a hard look; there were many misalignments caused by the team works in silos, unclear problem when building a product, and the outcome was not great. While the company had been going well, the successful outcome was not always intentional. We wanted to improve how the team works together to produce better outcomes at scale. I explored this problem space.
			</p>
			
		</div>
	</div>

	<div class="row flush-s m-t-xl m-b-xxl">
		<div class="col-sm-12 col-md-4 offset-md-2 mobile-p-b-m">
			<span class="t--eyebrow-blue">The challenge</span>
			<p>Our design system lacked contributions and our design language were at risk for not evolving.</p>
		</div>
		<div class="col-sm-12 col-md-4">
			<span class="t--eyebrow-blue">The outcome</span>
			<p>An new and enjoyable contribution experience called Collaboration Ground that had increased the contributions by 6x within its first 9 months.</p>
		</div>
	</div>
</div>

<div class="black-bg"> <!-- Big question -->
	<div class="container section-space-airy">
		<div class="row">
			<div class="col-sm-12 col-md-8 offset-md-2">
				<p class="t--eyebrow">Big question #1</p>
				<h2 class="t--title-01">How might we encourage people to contribute to the system?</h2>
			</div>
		</div>
	</div>
</div>


{% include footer-bar.html %}
	{% include script.html %}
</body>
</html>