{% include header.html %}

<div class="container m-t-l">
	<div class="row">
		<div class="col-sm-12 col-md-12">
			<p class="t--mono-02 m-b-xs">2018 - 2021 | Bukalapak</p>
			<h1 class="t--title-01 m-b-xs">Bukalapak Branding & Design Language</h1>
			<img src="/img/project/bukalapak-design-language/hero.jpg" alt="user and shop" class="p-t-s p-b-xs mobile-p-b-xs">
		</div>
	</div>
	<div class="row gutter-s m-b-s"> <!-- Figma template -->
		<div class="col-sm-6 col-md-3">
			<div class="card" style="padding: 0px;">
				<img src="/img/project/bukalapak-design-language/open-logo.jpg" alt="Bukalapak Logo">
			</div>
		</div>
		<div class="col-sm-6 col-md-3">
			<div class="card" style="padding: 0px;">
				<img src="/img/project/bukalapak-design-language/open-icon.jpg" alt="Bukalapak Iconography">
			</div>
		</div>
		<div class="col-sm-6 col-md-3">
			<div class="card" style="padding: 0px;">
				<img src="/img/project/bukalapak-design-language/open-typeface.jpg" alt="Bukalapak Typography">
			</div>
		</div>
		<div class="col-sm-6 col-md-3">
			<div class="card" style="padding: 0px;">
				<img src="/img/project/bukalapak-design-language/open-illus.jpg" alt="Bukalapak Illustration">
			</div>
		</div>
	</div>
	<div class="row gutter-s">
		<div class="col-sm-12 col-md-6">
			<div>
				<img src="/img/project/bukalapak-design-language/showcase-banner-airport.jpg" alt="Offline Marketing Banner">
			</div>
		</div>
		<div class="col-sm-12 col-md-6">
			<div>
				<img src="/img/project/bukalapak-design-language/showcase-sosmed.jpg" alt="Online Marketing Banner">
			</div>
		</div>
	</div>
	<div class="row m-t-xl p-b-xl m-b-xl mobile-m-t-m">
		<div class="col-sm-12 col-md-8 markdown">
			<p class="t--heading-01">
				Founded in 2010, Bukalapak has been empowering millions of merchants to run their business in Indonesia. As the company continues to expand the products and services, the team struggled to scale the design language in a cohesive way.
			</p>
			<p class="t--heading-01">
				I led the collaborative effort to align the design direction with our vision: to bring a fair economy for all.
			</p>
			<p class="t--heading-01">
				The result is a cohesive design language manifested in a different part of the experience, from offline marketing banners to expressive landing pages. The design language enables teams to expand the design language on top of the foundation we built.
			</p>
		</div>
	</div>
</div>

<div class="warm">
<div class="container section-space-airy">
	<div class="row m-b-l">
		<div class="col-sm-12 m-b-m mobile-m-b-s">
			<p class="t--heading-04">Brand strategy</p>
		</div>
		<div class="col-sm-12 col-md-8">
			<p class="t--heading-01">
				We took a strategic shift to serve low-income people to set us apart from the competitor. To support that, we conducted a field study to study our target audience. The research helped us identified brand attributes: guiding, optimistic, and light-hearted. Which we used as guiding rails along the way.
			</p>
		</div>
	</div>

	<div class="row-space">
		<div class="row gutter-s">
			<div class="col-sm-12 col-md-12 m-b-s">
				<div><img src="/img/project/bukalapak-design-language/letter-intent.jpg" alt=""></div>
			</div>
			<div class="col-sm-6 col-md-4 hidden-sm">
				<div><img src="/img/project/bukalapak-design-language/homevisit-01.jpg" alt=""></div>
			</div>
			<div class="col-sm-6 col-md-4">
				<div><img src="/img/project/bukalapak-design-language/homevisit-02.jpg" alt=""></div>
			</div>
			<div class="col-sm-6 col-md-4">
				<div><img src="/img/project/bukalapak-design-language/homevisit-03.jpg" alt=""></div>
			</div>
		</div>

		<div class="row gutter-s">
			<div class="col-sm-12 col-md-8">
				<div><img src="/img/project/bukalapak-design-language/workshop-strategy.jpg" alt=""></div>
			</div>
			<div class="col-sm-12 col-md-4">
				<div><p class="t--body-01 m-t-xl mobile-m-t-xs">I facilitated a 2 days workshop to translate the insights and strategic discussion into our design directions. The research was executed by the internal research team.</p></div>
			</div>
		</div>
	</div>

</div>
</div>

<div class="soft-gray">
	<div class="container section-space-airy">
		<div class="row m-b-xl">
			<div class="col-sm-12 m-b-m mobile-m-b-s">
				<p class="t--heading-04">Typography</p>
			</div>
			<div class="col-sm-12 col-md-8">
				<p class="t--heading-01">
					Even though typography is an essential building block, we suffered from inconsistencies. I explored different approaches of typefaces to convey the expressiveness of our brand. I drafted the foundation and collaborate with the agency to turn them into a font that we now use across our platform.
				</p>
			</div>
		</div>

		<div class="row-space">
		<div class="row gutter-s">
			<div class="col-sm-12 col-md-6">
				<div>
					<img src="/img/project/bukalapak-design-language/typeface-01.jpg" alt="">
					<p class="t--caption-01">First pencil draft</p>
				</div>
			</div>
			<div class="col-sm-12 col-md-6">
				<div>
					<img src="/img/project/bukalapak-design-language/typeface-02.jpg" alt="">
					<p class="t--caption-01 ">Numerical draft</p>
				</div>
			</div>
		</div>

		<div class="row gutter-s">
			<div class="col-sm-12 col-md-4">
				<div>
					<img src="/img/project/bukalapak-design-language/typeface-showcase-01.jpg" alt="">
					<p class="t--caption-01">Optimized for small scale</p>
				</div>
			</div>
			<div class="col-sm-12 col-md-4">
				<div>
					<img src="/img/project/bukalapak-design-language/typeface-showcase-02.jpg" alt="">
					<p class="t--caption-01">Serif into sans serif</p>
				</div>
			</div>
			<div class="col-sm-12 col-md-4">
				<div>
					<img src="/img/project/bukalapak-design-language/typeface-showcase-03.jpg" alt="">
					<p class="t--caption-01">Playful and bold curve for "f"</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<img src="/img/project/bukalapak-design-language/bukasans-preview.jpg" alt="">
			</div>
		</div>

		</div>
	</div>
</div>


<div class="container section-space-airy">
	<div class="row">
		<div class="col-sm-12 m-b-l mobile-m-b-m">
			<p class="t--eyebrow m-b-xs">The implementation</p>
			<p class="t--heading-04">Redesign desktop experience</p>
		</div>
	</div>
	<div class="row flush-s m-b-l p-b-l mobile-m-b-xs">
		<div class="col-sm-12 col-md-6">
			<p class="t--eyebrow-crimson m-b-xs">Problem</p>
			<p class="t--heading-01">
				Many buyers still prefer browsing through the desktop. However, our desktop web design language was outdated compared to our apps. It negatively impacts the experience and brand trustworthiness.
			</p>
		</div>
		<div class="col-sm-12 col-md-6">
			<p class="t--eyebrow-crimson m-b-xs">Outcome</p>
			<p class="t--heading-01">
				Implemented the new design language to improve interaction. We also optimized the infrastructure as a part of collaborative work with the engineering team. Resulting in positive reactions from users and increased GMV by 30%.
			</p>
			<p class="t--caption-01 p-t-xs">The numbers are rounded and omitted due to the NDA.</p>
		</div>
	</div>
	<div class="row m-b-xl">
		<div class="col-sm-12 col-md-12">
		<div class="twenty-slider">
			<img src="/img/project/bukalapak-design-language/desktop-old.jpg" alt="before">
			<img src="/img/project/bukalapak-design-language/desktop-new.jpg" alt="after">
		</div>
		</div>
	</div>

	<div class="row m-t-xl p-t-xl m-b-xl">
		<div class="col-sm-12 col-md-8">
			<p class="t--heading-01">
				While improving the productivity on the shopping experience, we also expanded the design language for a couple of internal website.
			</p>
		</div>
	</div>
	<div class="row gutter-s">
		<div class="col-sm-12 col-md-6">
			<div>
				<img src="/img/project/bukalapak-design-language/desktop-brand-01.jpg" alt="Bukalapak Brand Elements">
				<p class="t--caption-01"><a href="https://brand.bukalapak.design/brand-story/" target="_blank">Bukalapak Brand Elements</a></p>
			</div>
		</div>
		<div class="col-sm-12 col-md-6">
			<div>
				<img src="/img/project/bukalapak-design-language/desktop-brand-02.jpg" alt="Bukalapak Brand story">
				<p class="t--caption-01">Bukalapak Brand Story</p>
			</div>
		</div>
	</div>
</div>



<div class="soft-gray">
<div class="container section-space-airy-top">
	<div class="row">
		<div class="col-sm-12 m-b-l mobile-m-b-m">
			<p class="t--heading-04">Transactional email redesign</p>
		</div>
	</div>
	<div class="row flush-s m-b-m">
		<div class="col-sm-12 col-md-6 mobile-m-b-s">
			<p class="t--eyebrow m-b-xs">Problem</p>
			<p class="t--heading-01">
				We send about 85.000 emails per month to our customers. Yet, our emails are redundant, outdated in design, and has confusing content. We had a low open rate as a result.
			</p>
		</div>
		<div class="col-sm-12 col-md-6">
			<p class="t--eyebrow m-b-xs">Outcome</p>
			<p class="t--heading-01">
				We redesigned 300 emails and killed 75 redundant emails. We now have an effective design language for email, more straightforward action, and a personalized subject line. The open rate increased 22% on average for most emails.
			</p>
			<p class="t--caption-01 p-t-xs">The numbers are rounded and omitted due to the NDA.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-12" style="margin-bottom:-8px;">
			<img src="/img/project/bukalapak-design-language/transactional-email.jpg" alt="Budi Tanrim | Bukalapak Transactional Email" class="p-t-l">
		</div>
	</div>
</div>
</div>

<div class="dark-gray dark-bg">
<div class="container section-space-airy">
	<div class="row">
		<div class="col-sm-12 m-b-s mobile-m-b-s">
			<p class="t--heading-04">Iconography</p>
		</div>
		<div class="col-sm-12 col-md-8">
			<p class="t--heading-01">
				A new icon request is a part of the operation as the business continues to expand. We built a guild, a handful of designers dedicate a portion of their time to make icons to tackle this operation needs. We had been training designers to create icons. I also built the foundation of the style and the principles to empower the guild to scale this work.
			</p>
		</div>
		<div class="col-sm-12 col-md-12">
			<img src="/img/project/bukalapak-design-language/icon.png" alt="Budi Tanrim | Bukalapak Transactional Email" class="p-t-l m-b-s mobile-p-b-xs">
			<img src="/img/project/bukalapak-design-language/icon-principles.jpg" alt="Budi Tanrim | Bukalapak Transactional Email" class="rounded-3 m-t-l m-b-s mobile-p-b-xs">
		</div>
	</div>
</div>
</div>

<div class="container section-space-airy">
	<div class="row">
		<div class="col-sm-12 col-md-8 m-b-l mobile-m-b-m">
			<p class="t--heading-04 m-b-s">Reflection</p>
			<div class="markdown m-b-l">
				<p class="t--heading-01 m-b-xl">01. Convert the findings into principles to help people remember what's important. We used it to guide multiple initiatives.</p>
				<p class="t--heading-01 m-b-xl">02. Pave the foundation and let the team across the organization participate is a much more efficient way to work at a large scale.</p>
				<p class="t--heading-01 m-b-xl">03. Be cohesive, not uniform. Many people perceive consistent as being uniform. This makes many designers make unintentional decisions to reuse the available design components instead of challenging the status quo.</p>
			</div>

			<hr>
			<div class="m-t-xl"></div>
			<p class="t--body-03 t--color-tetriary">Credit for Steve Lianardo, Raditya Pradipta, and Yoel Krisnanda for being the partner throughout this ongoing effort. Also, for Nikita Pradana Wibisono and the illustrator team for the great work on the illustration. Shout out to Edho, Dito, Untoro, and all the marketing design team for the great collaboration. Kudos to Ardhityo, Ardi, and everyone in the icon guild for the effort to operationalize the icon. Thanks to Barata and Mila for systemizing the design language. Cheers to Cedi, Nick Dop, Mezano, and Oji to support the email redesign initiative. Thanks to Nation, ThinkingRoom, and Tokotype for the collaboration. Ultimately, since I couldn't name everyone here, I want to thank everyone I haven't mentioned here to be part of all of this large initiative.</p>
		</div>
	</div>
</div>

{% include footer-bar.html %}
	{% include script.html %}
</body>
</html>