{% include header.html %}

<div class="container m-t-l">
	<div class="row">
		<div class="col-sm-12 col-md-12">
			<p class="t--mono-02 m-b-xs">2018 - 2021 | Bukalapak</p>
			<h1 class="t--title-01 m-b-xs">Bukalapak Design Language</h1>
			<div class="col-sm-12 col-md-9">
				<p class="t--heading-01">
					When I joined Bukalapak, our design language was disjointed. The desktop was inconsistent with the apps, we had 6 style of icons, the email was outdated and confusing. At a large scale company with 40+ products, how might we increase design cohesiveness? 
				</p>
			</div>
			<img src="/img/project/bukalapak-design-language/hero.jpg" alt="user and shop" class="p-t-l m-b-xl p-b-s mobile-p-b-xs">
		</div>
	</div>
</div>

<div class="container m-t-l">
	<div class="row">
		<div class="col-sm-12 col-md-8 offset-md-2 ">
			<p class="t--eyebrow-crimson m-b-xs">Bukalapak for Web</p>
			<p class="t--heading-02">
				Many buyers still prefer browsing through desktop. However, our desktop web design language was outdated. 
			</p>
			<img src="/img/project/bukalapak-design-language/desktop-old.jpg" alt="user and shop" class="p-t-l m-b-xl p-b-s mobile-p-b-xs">
			<img src="/img/project/bukalapak-design-language/desktop-new.jpg" alt="user and shop" class="p-t-l m-b-xl p-b-s mobile-p-b-xs">
		</div>
	</div>
</div>

<div class="container section-space-airy">
	<div class="row">
		<div class="col-sm-12 col-md-8 offset-md-2">
			<p class="t--eyebrow-crimson m-b-xs">The problem landscape</p>
			<p class="m-b-l">
				To better understand the problem, I initiated a co-creation session with everyone from each function — marketing, legal, product, business, engineering, design, and data — to share their pain points during the discovery and development phases. There are three main root issues that we wanted to explore: collaboration, idea validation during discovery, and vision.
			</p>
			
		</div>
	</div>
</div>

{% include footer-bar.html %}
	{% include script.html %}
</body>
</html>