{% include header.html %}
<div class="container m-t-l m-b-xxl">
	<div class="row">
		<div class="col-sm-12 col-md-8 offset-md-2 m-t-xl p-t-l">
			<p class="t--mono-02 m-b-xs">2019 - 2020</p>
			<h1 class="t--title-01 m-b-xl p-b-xl">Evolving and scaling Bazaar design system</h1>

			<p class="t--eyebrow-blue m-b-xs">The hesitation to contribute</p>
			<p class="t--heading-02">
				Designers at Bukalapak were hesitant to contribute to the Bazaar design system; thus, the system didn't evolve as it supported 40+ products across the company. Some designers would only use components from our library even when it's not optimal. Others would create their custom components but didn't share it with the design system team. We wanted to find out why.
			</p>
			<img src="/img/project/bazaar-contribution/bazaar-collabground-cover.jpg" alt="user and shop" class="p-t-l m-b-l p-b-l mobile-p-b-xs">

			<span class="t--eyebrow-blue">My role</span>
			<p class="t--heading-01">I led a design system team, which consist of 3 designers and 8 engineers. I empowered the designer through the discovery process, helped them navigate the ambiguous problems, and involved in the strategy discussion of the overall concept to improve the contribution experience.</p>
		</div>
	</div>

	<div class="row flush-s m-t-xl m-b-xxl">
		<div class="col-sm-12 col-md-4 offset-md-2 mobile-p-b-m">
			<span class="t--eyebrow-blue">The challenge</span>
			<p>Our design system lacked contributions and our design language were at risk for not evolving.</p>
		</div>
		<div class="col-sm-12 col-md-4">
			<span class="t--eyebrow-blue">The outcome</span>
			<p>An new and enjoyable contribution experience called Collaboration Ground that had increased the contributions by 6x within its first 9 months.</p>
		</div>
	</div>
</div>

<div class="black-bg"> <!-- Big question -->
	<div class="container section-space-airy">
		<div class="row">
			<div class="col-sm-12 col-md-8 offset-md-2">
				<p class="t--eyebrow">Big question #1</p>
				<h2 class="t--title-01">How might we encourage people to contribute to the system?</h2>
			</div>
		</div>
	</div>
</div>

<div class="beige"> <!-- The discovery -->
<div class="container p-t-xxl m-b-xl p-b-xl" >
	<div class="row">
		<div class="col-sm-12 col-md-8 offset-md-2">
			<p class="t--eyebrow-blue m-b-xs">The discovery</p>
			<p class="t--heading-02 m-b-xs">Early insights of why people hesitant to contribute</p>
		</div>
		<div class="col-sm-12 col-md-7 offset-md-2">
			<p class="t--body-02 m-b-m">We conducted an interview with 3 engineers and 3 designers to understand how they interacted with our design system. Here are the findings:</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-8 offset-md-2 mobile-p-b-m">
			<div class="card-insight rounded-1 m-b-s" style="background: #fff; padding: 20px;">
				<p class="t--heading-01 m-b-xs">1</p>
				<p class="t--heading-01">Unaware if they can contribute</p>	
				<p class="p-t-xs" style="font-size: 16px; line-height: 1.5;">Many designers and engineers expressed they are more than willing to contribute but didn’t realize it was possible.</p>
			</div>
			<div class="card-insight rounded-1 m-b-s" style="background: #fff; padding: 20px;">
				<p class="t--heading-01 m-b-xs">2</p>
				<p class="t--heading-01">Tight deadline</p>	
				<p class="p-t-xs" style="font-size: 16px; line-height: 1.5;">Designers  were pressured with tight deadlines. Most of them were hesitant to engage with us because they were afraid it would slow them down.</p>
			</div>
			<div class="card-insight rounded-1 m-b-s" style="background: #fff; padding: 20px;">
				<p class="t--heading-01 m-b-xs">3</p>
				<p class="t--heading-01">Public forum discussion is too confronting</p>	
				<p class="p-t-xs" style="font-size: 16px; line-height: 1.5;">Designers hesitate to ask a question in Slack because they were uncomfortable to discuss their design challenges in a public channel.</p>
			</div>
			<div class="card-insight rounded-1 m-b-s" style="background: #fff; padding: 20px;">
				<p class="t--heading-01 m-b-xs">4</p>
				<p class="t--heading-01">Narrow design exploration</p>	
				<p class="p-t-xs" style="font-size: 16px; line-height: 1.5;">Designers often committed to a solution before exploring other options, which resulted in unoptimized design solutions.</p>
			</div>
		</div>
	</div>
</div>
</div>

<div class="container p-t-xl m-b-xl"> <!-- Frame the problem -->
	<div class="row">
		<div class="col-sm-12 col-md-7 offset-md-2 m-b-l">
			<p class="t--eyebrow-blue m-b-xs">Analyzing and framing</p>
			<p class="t--heading-02 m-b-xs">Dismantling the problems</p>
			<div class="markdown">
				<p class="t--body-02">These insights made us aware that the users of our design system were very busy and we needed to make it easier for them to engage with our team.</p>
				<p class="t--body-02">
				We used the problem-tree framework to map the <i>root causes</i> and the <i>consequences</i> of each problem. Through this process, we discovered that we needed to provide designers and system designers a safe environment to exchange perspectives, discussing rationale, and explore solutions together.</p>
			</div>
		</div>
		<div class="col-sm-12 col-md-10 offset-md-1">
			<img src="/img/project/bazaar-contribution/mindmap-problem.jpg" alt="research" class="p-t-s m-b-s">
		</div>
	</div>
</div>

<div class="stone dark-bg section-space">
	<div class="container p-t-s"> <!-- Generating concept -->
		<div class="row">
			<div class="col-sm-12 col-md-7 offset-md-2 m-b-l">
				<p class="t--eyebrow m-b-xs">Exploring the concept</p>
				<p>There was one particular idea our team was excited during the brainstorm activity. Our team love to have a discussion in front of the whiteboard, what if we use that to our advantage?</p>
			</div>
			<div class="col-sm-12 col-md-8 offset-md-2">
				<h5 class="t--heading-03" style="color: #bbb;">What if...</h5>
				<h5 class="t--heading-03 m-b-s" >system users can be in front of the whiteboard with us?</h5>
				<h5 class="t--heading-03" style="color: #bbb;">So...</h5>
				<h5 class="t--heading-03 m-b-s">they can explain their goal and the context we need</h5>
				<h5 class="t--heading-03" style="color: #bbb;">Yes, and...</h5>
				<h5 class="t--heading-03 m-b-s">they can book it whenever they need it</h5>
				<h5 class="t--heading-03" style="color: #bbb;">Also</h5>
				<h5 class="t--heading-03 m-b-xl">let’s keep the group small so they’re comfortable.</h5>
				<img src="/img/project/bazaar-contribution/whiteboarding-1.jpg" alt="people collaborate in front of whiteboard" class="p-t-xl">
				<span class="t--caption-01">Our team make a preliminary to-be-scenario with the system users.</span>
			</div>
		</div>
	</div>
</div>

<div class="container section-space">
	<div class="row">
		<div class="col-sm-12 col-md-7 offset-md-2">
			<p class="t--eyebrow-blue m-b-xs">Validate cheaply</p>
			<h2 class="t--heading-02 m-b-s">Testing the concept</h2>
			<p class="t--body-02 m-b-l">We tested the concept by announcing this to a few small groups. Three designers who were starting their projects signed up. We partnered a design system designer with a product designer to solve their specific challenge and need.<br/><br/>
			The reactions were positive. These whiteboard sessions were effective. One product designer realized they didn’t need to change a component to solve the design problem. Instead, she makes small tweaks to the layout and the flow. Having a sparring partner was proving its worth.
			</p>
			<div class="markdown">
			<blockquote class="quote-medium m-b-s">"I love the fact I can sit and discuss this right away. I started to understand the importance to keep the component scalable. Love the session!" — Designer</blockquote>
			<blockquote class="quote-medium">"This session is super fun! It brings us closer together, now I feel like we’re all Bazaar designers." — Designer</blockquote>
			</div>
		</div>
	</div>
</div>

<div class="soft-gray">
<div class="container section-space-airy">
	<div class="row">
		<div class="col-sm-12 col-md-7 offset-md-2">
			<p class="t--eyebrow-blue m-b-xs">Rollout and Impact</p>
			<h2 class="t--heading-02 m-b-xs">Introducing Collaboration Ground</h2>
			<p class="t--body-02 m-b-l">
				The validation gave us the confidence to roll it out to the rest of the company. We named this session “Collaboration Ground” to help us rally this easier. We created a simple storyboard to align our team of how the overall experience would look like.
			</p>
		</div>
	</div>
	<div class="row gutter-s equal-height"> <!-- Storyboard + flow -->
		<div class="col-md-5 offset-md-1 mobile-m-b-m">
			<div class="card rounded-2">
				<p class="t--eyebrow-blue m-b-xs">Storyboard</p>
				<p class="card-heading t--heading-01 m-b-s">Aligning our team of how the experience would look like with storyboard.</p>
				<img src="/img/project/bazaar-contribution/storyboard-paper.jpg" alt="storyboard">
			</div>
		</div>
		<div class="col-md-5">
			<div class="card rounded-2">
				<p class="t--eyebrow-blue m-b-xs">Automation</p>
				<p class="card-heading t--heading-01 m-b-s">Minimize operation effort by integrating tools we use.</p>
				<img src="/img/project/bazaar-contribution/tool-automation.jpg" alt="storyboard">
			</div>
		</div>
	</div>
	<div class="row gutter-s m-t-s"> <!-- Figma template -->
		<div class="col-md-10 offset-md-1">
			<div class="card rounded-2" style="padding: 28px 28px 0 28px;">
				<p class="t--eyebrow-blue m-b-xs">Figma template</p>
				<p class="card-heading t--heading-01 m-b-s">Streamlined the way designers propose with self-serve template.</p>
				<img src="/img/project/bazaar-contribution/figma-template-cg.jpg" alt="Figma Template">
			</div>
		</div>
	</div>
	<div class="row gutter-s m-t-s m-b-xl"> <!-- UI showcase -->
		<div class="col-md-10 offset-md-1">
			<div class="card rounded-2">
				<p class="t--eyebrow-blue m-b-xs">Contributed UI</p>
				<p class="card-heading t--heading-01 m-b-s">We have been evolving the design language as more contribution come to the system.</p>
				<img src="/img/project/bazaar-contribution/collabground contribution-ui.jpg" class="rounded-1" alt="Figma Template">
			</div>
		</div>
	</div>
	<div class="row"> <!-- Impact -->
		<div class="col-sm-12 col-md-7 offset-md-2 m-t-m">
			<p class="t--eyebrow-blue m-b-xs">Positive impact</p>
			<h2 class="t--heading-03 m-b-xs">Collaboration ground increases the number of contributions. We recorded 24 components being contributed in the last 9 months, we also see a healthier relationship with system users. One of the memorable moment was when the engineer was involved during the session; which we rarely see it in the past.</h2>
		</div>
		<div class="col-sm-8 offset-sm-1 col-md-6 offset-md-2 m-t-s m-b-l">
			<p class="t--heading-01 m-b-xs m-t-xs">28 signups in the last 9 months</p>
			<hr/>
			<p class="t--heading-01 m-b-xs m-t-xs">6x increases in contribution within 9 months</p>
			<hr/>
			<p class="t--heading-01 m-b-xs m-t-xs">16 contributions to improve existing patterns or components</p>
			<hr/>
			<p class="t--heading-01 m-b-xs m-t-xs">8 contributions to add new patterns or components</p>
			</p>
			<hr/>
			<p class="t--mono-01 m-t-s">Data collected in 2020</p>
		</div>
	</div>
</div>
</div>

<div class="black-bg"> <!-- Big question -->
	<div class="container section-space-airy">
		<div class="row">
			<div class="col-sm-12 col-md-8 offset-md-2">
				<p class="t--body-02 m-b-xxl">
					To be continued: After we launched the Collaboration Ground and get continuous contributions. We needed to organize and scale the system  for 8 different business units.
				</p>
				<p class="t--eyebrow">Big question #2</p>
				<h2 class="t--title-01">How might we scale the design systems for each unique business units?</h2>
			</div>
		</div>
	</div>
</div>




{% include footer-bar.html %}
	{% include script.html %}
</body>
</html>