{% include header.html %}
<div class="container m-t-l">
	<div class="row">
		<div class="col-sm-12 col-md-8 offset-md-2 m-t-xl p-t-l">
			<p class="t--mono-02 m-b-xs">2018 - 2021 | Bukalapak</p>
			<h1 class="t--big-title-01 m-b-xs p-b-xs c--crimson">Scaling human-centered practice</h1>

			<img src="/img/project/bukalapak-hcd/hero.jpg" alt="user and shop" class="p-t-l m-b-xl p-b-xl mobile-p-b-xs" width="650px">

			<p class="t--eyebrow-crimson m-b-xs">Intro</p>
			<p class="t--heading-02">
				In 2018, we had to take a hard look; there were many misalignments caused by the team works in silos, unclear problem when building a product, and the outcome was not great. While the company had been going well, the successful outcome was not always intentional. We wanted to improve how the team works together to produce better outcomes at scale. I explored this problem space.
			</p>			
		</div>
	</div>
</div>

<div class="container section-space-airy">
	<div class="row">
		<div class="col-sm-12 col-md-8 offset-md-2">
			<p class="t--eyebrow-crimson m-b-xs">The problem landscape</p>
			<p class="m-b-l">
				To better understand the problem, I initiated a co-creation session with everyone from each function — marketing, legal, product, business, engineering, design, and data — to share their pain points during the discovery and development phases. There are three main root issues that we wanted to explore: collaboration, idea validation during discovery, and vision.
			</p>
			<img src="/img/project/bukalapak-hcd/initial-workshop.jpg" alt="first co-creation with cross function team" class="">
			<p class="t--caption-01 m-b-l">Co-creation session to identify pain points</p>
			<img src="/img/project/bukalapak-hcd/key-insights.jpg" alt="the insights" class="">
			<p class="t--caption-01">Problem tree map for the big problems of our practices</p>
		</div>
	</div>
</div>

<div class="black-bg"> <!-- Big question -->
	<div class="container section-space-airy">
		<div class="row">
			<div class="col-sm-12 col-md-8 offset-md-2">
				<p class="t--eyebrow m-b-xs">Challenge around collaboration</p>
				<h2 class="t--title-01 p-b-xl m-b-xl">How might we enable teams to align quicker and deliver human-centered outcome?</h2>

				<p class="t--eyebrow m-b-xs">Testing the water</p>
				<p>Based on my experience, the methods from human-centered design has always been focusing on building this alignment. However, before we can influence the whole company, we needed a proof of concept. We joined two teams who are open to improving their collaboration. Even though the project's outcome was not spectacular, the team agreed their alignment improved greatly.</p>
			</div>
		</div>

		<div class="row flush-s">
			<div class="col-md-3 offset-md-2">
				<div class="card-insight rounded-1 m-b-s" style="background: #fff;"> a</div>
			</div>
			<div class="col-md-3">a</div>
			<div class="col-md-3">a</div>
		</div>
	</div>
</div>




<hr>
<p class="t--eyebrow-crimson m-b-xs">Team</p>
<p>Lead: Budi Tanrim (me)</p>
<hr>

{% include footer-bar.html %}
	{% include script.html %}
</body>
</html>