{% include header.html %}
<section class="container m-t-l">
	<div class="row">
		<div class="col-sm-12 col-md-8 offset-md-2 m-t-xl p-t-l">
			<p class="t--mono-02 m-b-xs">2018 - 2021 | Bukalapak</p>
			<h1 class="t--big-title-01 m-b-xs p-b-xs c--crimson">Scaling human-centered practice</h1>

			<img src="/img/project/bukalapak-hcd/hero.jpg" alt="user and shop" class="p-t-l m-b-xl p-b-xl mobile-p-b-xs" width="650px">

			<p class="t--eyebrow-crimson m-b-xs">Intro</p>
			<p class="t--heading-02">
				{{site.data.hcd.intro-paragraph}}
			</p>			
		</div>
	</div>
</section>

<section class="container section-space-airy">
	<div class="row">
		<div class="col-sm-12 col-md-8 offset-md-2">
			<img src="/img/project/bukalapak-hcd/initial-workshop.jpg" alt="first co-creation with cross function team" class="m-b-xs">
			<p class="t--caption-01 m-b-l">Co-creation session to identify pain points</p>

			<p class="t--eyebrow-crimson m-b-xs">The problem landscape</p>
			<p class="m-b-xl">
				To better understand the problem, I initiated a co-creation session with everyone from each function — marketing, legal, product, business, engineering, design, and data — to share their pain points during the discovery and development phases. There are three main root issues that we wanted to explore: collaboration, idea validation during discovery, and vision.
			</p>
			
			<img src="/img/project/bukalapak-hcd/key-insights.jpg" alt="the insights" class="m-t-l">
			<p class="t--caption-01">Problem tree map for the big problems of our practices</p>
		</div>
	</div>
</section>

<section class="hot-pink section-space-airy">
	<div class="container">
	<!-- Mission -->
		<div class="row">
			<div class="col-sm-12 col-md-10">
				<p class="t--eyebrow m-b-xs">
					{{site.data.hcd.mission-eyebrow}}
				</p>
				<h2 class="t--big-title-01">
					{{site.data.hcd.mission-title}}
				</h2>
			</div>
		</div>
	</div>
</section>

<section class="black-bg"> <!-- Big question -->
	<div class="container section-space-airy">
		<div class="row">
			<div class="col-12 col-sm-12 col-md-8 p-b-m m-b-xl">
				<p class="t--eyebrow m-b-xs">{{site.data.hcd.pilot-eyebrow-1}}</p>
				<h2 class="t--title-01">
					{{site.data.hcd.pilot-title}}
				</h2>
			</div>
			<div class="col-12 col-sm-12 col-md-8 m-b-xl p-b-xl">
				<p class="t--eyebrow m-b-xs">{{site.data.hcd.pilot-eyebrow-2}}</p>
				<p class="t--heading-02">{{site.data.hcd.pilot-paragraph}}</p>
			</div>
			<div class="row gutter-s relative">
				<div class="col-12 col-sm-12 col-md-6 m-b-xs">
					<div><img src="/img/project/bukalapak-hcd/merchant-1.jpg" alt="first co-creation with cross function team" class=""></div>
				</div>
				<div class="col-12 col-sm-12 col-md-6 m-b-xs">
					<div><img src="/img/project/bukalapak-hcd/merchant-2.jpg" alt="first co-creation with cross function team" class=""></div>
				</div>
			</div>
			<div class="row gutter-s relative">
				<div class="col-12 col-sm-12 col-md-10 m-b-xs">
					<div><img src="/img/project/bukalapak-hcd/merchant-3.jpg" alt="first co-creation with cross function team" class=""></div>
				</div>
				<div><img src="/img/project/bukalapak-hcd/note-pilot-1.svg" alt="first co-creation with cross function team" class="z-index-10 hcd-note-problem"></div>
			</div>
			<div class="row gutter-s relative">
				<div class="col-12 col-sm-12 col-md-4 m-b-xs">
					<div><img src="/img/project/bukalapak-hcd/vp-2.jpg" alt="first co-creation with cross function team" class=""></div>
				</div>
				<div class="col-12 col-sm-12 col-md-8 m-b-xs">
					<div><img src="/img/project/bukalapak-hcd/vp-1.jpg" alt="first co-creation with cross function team" class=""></div>
				</div>
				<div class="col-6 col-sm-6 offset-6 col-md-4 m-b-xs hcd-note-assumption">
					<div><img src="/img/project/bukalapak-hcd/note-pilot-2.svg" alt="first co-creation with cross function team" class="z-index-top"></div>
				</div>
			</div>
		</div>

		<!-- Quotes from team -->
		<div class="row">
			<div class="col-12 col-md-8 offset-md-4">
				<p class="t--heading-01 p-t-m m-b-xl m-t-xl">
					{{site.data.hcd.quote-opening}}
				</p>
				<hr>
				<div class="m-b-l"></div>
				<blockquote class="quote-medium">
					{{site.data.hcd.quote-1}}
					<cite>Business Development</cite>
				</blockquote>
				<blockquote class="quote-medium">
					{{site.data.hcd.quote-2}}
					<cite>User Researcher</cite>
				</blockquote>
				<blockquote class="quote-medium">
					{{site.data.hcd.quote-3}}
				<cite>Data scientist</cite>
				</blockquote>
				<blockquote class="quote-medium">
					{{site.data.hcd.quote-4}}
					<cite>Product Manager</cite>
				</blockquote>
			</div>
		</div>
	</div>
</section>

<section class="soft-gray section-space-airy">
	<div class="container">
		<div class="row m-b-xl">
			<!-- Heading -->
			<div class="col-12 col-sm-12 col-md-8 m-b-xl">
				<p class="t--eyebrow m-b-xs">{{site.data.hcd.scale-eyebrow-1}}
				</p>
				<h2 class="t--title-01 m-b-m">
				{{site.data.hcd.scale-title}}
				</h2>
				<p class="t--heading-02">{{site.data.hcd.scale-challenge}}
				</p>
			</div>			
		</div>

		<div class="row-space m-b-xl">
			<div class="row gutter-s m-b-xl p-b-xl">
				<div class="col-12 col-md-8">
					<div><img src="/img/project/bukalapak-hcd/allhands.jpg" alt="setting up vision" class=""></div>
				</div>
				
				<div class="col-12 col-md-4 m-b-l mobile-p-t-m">
					<p class="t--eyebrow-blue m-b-xs">
						{{site.data.hcd.scale-vision-eyebrow-1}}
					</p>
					<p class="t--body-03">
						{{site.data.hcd.scale-vision-text-1}}
					</p>
				</div>

				<div class="col-12 col-md-5 offset-md-6">
					<div><img src="/img/project/bukalapak-hcd/office.jpg" alt="setting up vision" class="hcd-image-office"></div>
				</div>
			</div>

			<div class="row">
				<!-- Heading -->
				<div class="col-12 col-sm-12 col-md-8 m-b-xl">
					<p class="t--eyebrow-blue m-b-xs">
						{{site.data.hcd.bootcamp-eyebrow-1}}
					</p>
					<p class="t--heading-02">
						{{site.data.hcd.bootcamp-challenge}}
					</p>
				</div>	
			</div>

			<div class="row gutter-s">
				<div class="col-12 col-md-6">
					<div><img src="/img/project/bukalapak-hcd/bootcamp-1.jpg" alt="setting up vision" class=""></div>
				</div>
				<div class="col-12 col-md-6">
					<div><img src="/img/project/bukalapak-hcd/bootcamp-2.jpg" alt="setting up vision" class=""></div>
				</div>
			</div>
			<div class="row gutter-s">
				<div class="col-8 col-md-3 offset-md-1 z-index-10">
					<div><img src="/img/project/bukalapak-hcd/bootcamp-3.jpg" alt="setting up vision" class=""></div>
				</div>
				<div class="col-12 col-md-8">
					<div><img src="/img/project/bukalapak-hcd/bootcamp-4.jpg" alt="setting up vision" class=""></div>
				</div>
			</div>

			<div class="row gutter-s m-t-xl p-t-xl">
				<div class="col-sm-12 col-md-2 offset-md-2">
					<p class="t--eyebrow m-b-xs">
						The outcome
					</p>
				</div>

				<div class="col-sm-12 col-md-6">
					<p class="t--heading-01 m-b-m">
						{{site.data.hcd.bootcamp-outcome-p}}
					</p>
					<hr/>
					<p class="t--heading-01 m-b-xs m-t-xs">
						{{site.data.hcd.bootcamp-outcome-1}}
					</p>
					<hr/>
					<p class="t--heading-01 m-b-xs m-t-xs">
						{{site.data.hcd.bootcamp-outcome-2}}
					</p>
					
					<hr/>
					<p class="t--mono-01 m-t-s">Based on post-bootcamp survey</p>
				</div>
			</div>
		</div> <!-- Scale & Bootcamp -->

		
		
		<!-- <div class="row">
			<div class="col-sm-12 col-md-8 offset-md-2">
				<h2 class="t--title-01">
					{{site.data.hcd.mission-title}}
				</h2>
				<p class="m-b-l">
					{{site.data.hcd.mission-paragraph}}
				</p>
			</div>
		</div> -->
	</div>
</section>

<section class="section-space-airy">
	<div class="container">
		<div class="row gutter-s">
			<div class="col-12 col-sm-12 col-md-5 m-b-xl">
					<p class="t--eyebrow m-b-xs">{{site.data.hcd.implement-eyebrow-1}}
					</p>
					<p class="t--heading-01">
						{{site.data.hcd.implement-paragraph}}
					</p>
					
				</div>
		</div>
		<div class="row gutter-s">
			<div class="col-12 col-sm-12 col-md-6">
				<div class="m-b-l">
					<img src="/img/project/bukalapak-hcd/implementation-1.jpg" alt="Leadership session" class="">
					<p class="t--caption-01">{{site.data.hcd.implement-1-caption}}</p>
				</div>
				<!-- <div class="m-b-l">
					<img src="/img/project/bukalapak-hcd/implementation-3.jpg" alt="Leadership session" class="">
					<p class="t--caption-01">{{site.data.hcd.implement-3-caption}}</p>
				</div>

				<div class="m-b-l">
					<img src="/img/project/bukalapak-hcd/implementation-4.jpg" alt="Leadership session" class="">
					<p class="t--caption-01">{{site.data.hcd.implement-4-caption}}</p>
				</div> -->
			</div>	
			<div class="col-12 col-sm-12- col-md-6">
				<div class="m-b-l">
					<img src="/img/project/bukalapak-hcd/implementation-2.jpg" alt="Leadership session" class="">
					<p class="t--caption-01">{{site.data.hcd.implement-2-caption}}</p>
				</div>
			</div>
		</div>
	</div>
</section>


			<!-- Framework -->
			<!-- <div class="row m-b-xl">
				<div class="col-12 col-sm-12 col-md-6 m-b-xl">
					<p class="t--eyebrow m-b-xs">{{site.data.hcd.framework-eyebrow-1}}
					</p>
					<h2 class="t--heading-04 m-b-m">
					{{site.data.hcd.framework-title}}
					</h2>
					
				</div>
				<div class="col-12 col-sm-12 col-md-6">
					<p class="t--heading-01">
						{{site.data.hcd.framework-challenge}}
					</p>
				</div>	
			</div>  -->
			<!-- Framework -->

{% include footer-bar.html %}
	{% include script.html %}
</body>
</html>