{% include header.html %}
<div class="container m-t-l m-b-s">

	<div class="row">
		<div class="col-sm-12 col-md-8 offset-md-2 m-t-xl p-t-l">
			<p class="t--mono-02 m-b-xs">2020 - 2021</p>
			<h1 class="t--title-01 m-b-xl p-b-xl">Humanizing bookkeeping for micro business in emerging market</h1>

			<p class="t--eyebrow-blue m-b-s">Context - Meet Yuli</p>
			<p class="t--heading-02">If you ever go to Indonesia, you will likely find this humble shop like the one owned by Yuli. People who live around go here to buy daily needs, like rice, snacks, or shampoo. The thing is, Yuli has to record all the transactions on the paper and manually recap to know whether her business is on profit or loss. Yuli is one of the millions of other micro businesses we empower. Our success is their success.</p>
			<img src="/img/project/saas-bukalapak/shop-user.jpg" alt="user and shop" class="p-t-l m-b-xl p-b-xl mobile-p-b-xs">

			<p class="t--heading-01">As a design lead, I support the multidisciplinary team to navigate from the ambiguous state, facilitating the design activities to quickly achieve alignment, and continuously validating our ideas with real customers to achieve product-market fit.</p>
		</div>
	</div>

	<div class="row flush-s m-t-xl">
		<div class="col-sm-12 col-md-4 offset-md-2 mobile-p-b-m">
			<span class="t--eyebrow-blue">The challenge</span>
			<p>Empower micro business in the emerging market to be more aware of their business financial.</p>
		</div>
		<div class="col-sm-12 col-md-4">
			<span class="t--eyebrow-blue">The outcome</span>
			<p>A simple experience to record their financial, monitor their business performance, and make informed decisions.</p>
		</div>

	</div>
	<div class="row">
		<div class="col-sm-12 col-md-8 offset-md-2">
			<hr class="m-t-xl">
			<p>We found that most of our users need a bookkeeping system and used a lot of 3rd party apps to do that. During the interview, we </p>
		</div>
	</div>

</div>


<div class="container soft-blue-theme m-b-xl p-b-xl">
	<div class="row">
		<div class="col-sm-12 col-md-8 offset-md-2">
			<h1>Behind the scene</h1>
		</div>
	</div>
</div>

{% include footer-bar.html %}
	{% include script.html %}
</body>
</html>