{% include header.html %}
<div class="black-bg">
<div class="container p-t-l p-b-xxl">
	<div class="row">
		<div class="col-sm-12 col-md-8 offset-md-2 m-t-xl p-t-l">
			<p class="t--mono-02 m-b-xs">2019 | Yahoo</p>
			<h1 class="t--big-title-01 m-b-l p-b-l">Refining Yahoo's weather icon suite</h1>

			<p class="t--eyebrow m-b-xs">Intro</p>
			<p class="t--heading-02 m-b-m">
				A glance at the phone. What's the weather like today? Weather forecasting is one of the most important breakthroughs for humans. Where science meets technology to help us make better decisions in our daily life. In 2019, Yahoo reached out to redesign their weather icon set. I led the creative direction for icon, explored many icon design variations, and defined the icon principles and guidelines. 
			</p>
			<img src="/img/project/yahoo-weather/big-icon-result.jpg" alt="user and shop" class="p-t-xl m-b-l mobile-p-b-xs">
			<img src="/img/project/yahoo-weather/icon-notation.jpg" alt="user and shop" class="p-t-xl m-b-l mobile-p-b-xs">
			<img src="/img/project/yahoo-weather/weather-yahoo-opening-outcome.jpg" alt="user and shop" class="p-t-xl m-b-l p-b-l mobile-p-b-xs">
			<img src="/img/project/yahoo-weather/small-icon-result.jpg" alt="user and shop" class="p-t-xl m-b-l mobile-p-b-xs">
			<img src="/img/project/yahoo-weather/small-icon-notation.jpg" alt="user and shop" class="p-t-xl m-b-l mobile-p-b-xs">
			<div class="rounded-2"><img src="/img/project/yahoo-weather/appstore-screenshot.jpg" alt="user and shop" class="p-t-xl m-b-l p-b-l mobile-p-b-xs"></div>
		</div>
	</div>
</div>
</div>


<div class="container section-space-airy">
	<div class="row">
		<div class="col-sm-12 col-md-8 offset-md-2">
			<span class="t--eyebrow-blue">Behind the scene</span>
			<h1 class="m-b-s">How might we create an expressive yet glanceable weather icons?</h1>
			<p>Yahoo needed a new set of weather icon because the previous icon set were too generic, not glanceable, and too complex. They looked like this:</p>
			<img src="/img/project/yahoo-weather/old-yahoo-weather.jpg" alt="user and shop" class="p-t-m m-b-m p-b-l mobile-p-b-xs">
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-8 offset-md-2">
			<p>We collaboratively define the definition for each weather name. For example, light rain is when the rain rate is from above 0mm to 2.5mm per hour (puddles form slowly). This information later being used to inform the style and form of the icons.</p>
			<img src="/img/project/yahoo-weather/yahoo-icon-sheet.jpg" alt="google sheet to collect definition" class="p-t-m m-b-m p-b-l mobile-p-b-xs">
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-8 offset-md-2">
			<span class="t--eyebrow-blue">Early exploration</span>
			<p>The first draft is to get the initial ideas down and have a early discussion with the team. Here are a couple of first iterations.</p>
			<img src="/img/project/yahoo-weather/small-icon-sketch.jpg" alt="sketches for small icon" class="m-t-l m-b-l">
			<img src="/img/project/yahoo-weather/big-icon-sketch.jpg" alt="sketches for big icon">
		</div>
	</div>
</div>




{% include footer-bar.html %}
	{% include script.html %}
</body>
</html>