{% include header.html %}
<div class="container m-t-l m-b-xxl">
	<div class="row">
		<div class="col-sm-12 col-md-8 offset-md-2 m-t-xl p-t-l">
			<p class="t--mono-02 m-b-xs">2019 - 2020</p>
			<h1 class="t--title-01 m-b-xl p-b-xl">Improving design system contribution experience</h1>

			<p class="t--eyebrow-blue m-b-xs">The hesitation to contribute</p>
			<p class="t--heading-02">Bazaar design system helps Bukalapak to speed up the groundwork. However, our system was not evolving as it serves 40+ products across the company. We observed a lot of designers were hesitant to contribute. We’ll see designers are either using any available components or create their custom components but never talked to design systems. We wonder why.</p>
			<img src="/img/project/bazaar-contribution/bazaar-collabground-cover.jpg" alt="user and shop" class="p-t-l m-b-l p-b-l mobile-p-b-xs">

			<span class="t--eyebrow-blue">My role</span>
			<p class="t--heading-01">I led the design systems team. In this project, I empowered the designer to guide the discovery process with frameworks, help communicate this company-wide, and be involved in the strategy discussion of the overall concept to improve the contribution experience.</p>
		</div>
	</div>

	<div class="row flush-s m-t-xl m-b-xxl">
		<div class="col-sm-12 col-md-4 offset-md-2 mobile-p-b-m">
			<span class="t--eyebrow-blue">The challenge</span>
			<p>As we established design systems, it lacked contributions and was not evolving.</p>
		</div>
		<div class="col-sm-12 col-md-4">
			<span class="t--eyebrow-blue">The outcome</span>
			<p>An enjoyable contribution experience and increases 6x of contribution quarter by quarter</p>
		</div>
	</div>
</div>

<div class="black-bg"> <!-- Big question -->
	<div class="container section-space-airy">
		<div class="row">
			<div class="col-sm-12 col-md-8 offset-md-2">
				<p class="t--eyebrow">Big question #1</p>
				<h2 class="t--title-01">How might we encourage people to contribute to the system?</h2>
			</div>
		</div>
	</div>
</div>

<div class="soft-gray"> <!-- The discovery -->
<div class="container p-t-xxl m-b-xl p-b-xl" >
	<div class="row">
		<div class="col-sm-12 col-md-8 offset-md-2">
			<p class="t--eyebrow-blue m-b-xs">The discovery</p>
			<p class="t--heading-02 m-b-xs">Early insights of why people hesitant to contribute</p>
		</div>
		<div class="col-sm-12 col-md-7 offset-md-2">
			<p class="t--body-02 m-b-m">We conducted an interview with 3 engineers and 3 designers, trying to understand their interaction with design systems in their daily basis. Here are the findings I can share:</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-8 offset-md-2 mobile-p-b-m">
			<div class="card-insight rounded-1 m-b-s" style="background: #fff; padding: 20px;">
				<p class="t--heading-01 m-b-xs">1</p>
				<p class="t--heading-01">Unaware if they can contribute</p>	
				<p class="p-t-xs" style="font-size: 16px; line-height: 1.5;">Designers and engineers didn’t know if they can contribute. Many express they are more than willing to contribute, but didn’t know it is possible.</p>
			</div>
			<div class="card-insight rounded-1 m-b-s" style="background: #fff; padding: 20px;">
				<p class="t--heading-01 m-b-xs">2</p>
				<p class="t--heading-01">Tight deadline</p>	
				<p class="p-t-xs" style="font-size: 16px; line-height: 1.5;">Designers pressured with the tight deadlines. Most of them hesitant to engage with us because they afraid it will slow them down.</p>
			</div>
			<div class="card-insight rounded-1 m-b-s" style="background: #fff; padding: 20px;">
				<p class="t--heading-01 m-b-xs">3</p>
				<p class="t--heading-01">Public forum discussion is too confronting</p>	
				<p class="p-t-xs" style="font-size: 16px; line-height: 1.5;">Designers hesitate to ask a question in our Slack channel because the design systems team usually asked them back with the intention to gain context. However, this interaction make them uncomfortable.</p>
			</div>
			<div class="card-insight rounded-1 m-b-s" style="background: #fff; padding: 20px;">
				<p class="t--heading-01 m-b-xs">4</p>
				<p class="t--heading-01">Little design exploration</p>	
				<p class="p-t-xs" style="font-size: 16px; line-height: 1.5;">Often, designers committed to their solution before exploring other options. Resulting an unoptimal solution for the certain problem.</p>
			</div>
		</div>
	</div>
</div>
</div>

<div class="container p-t-xl m-b-xl"> <!-- Frame the problem -->
	<div class="row">
		<div class="col-sm-12 col-md-7 offset-md-2 m-b-l">
			<p class="t--eyebrow-blue m-b-xs">Framing the problem</p>
			<p class="t--heading-02 m-b-xs">Dismantling the insights</p>
			<div class="markdown">
				<p class="t--body-02">These insights make us more aware that system users are already busy with their work and need a minimum effort to engage with design systems.</p>
				<p class="t--body-02">
				We mapped the problems and dismantle it using problem-tree framework to map the <i>why</i> and the <i>consequence</i> of each problem. In summary, we need to provide a safe environment between designers and system designers to exchange perspective, discussing rationale, and explore together.</p>
			</div>
		</div>
		<div class="col-sm-12 col-md-10 offset-md-1">
			<img src="/img/project/bazaar-contribution/mindmap-problem.jpg" alt="research" class="p-t-s m-b-s">
		</div>
	</div>
</div>

<div class="stone dark-bg section-space">
	<div class="container p-t-s"> <!-- Generating concept -->
		<div class="row">
			<div class="col-sm-12 col-md-7 offset-md-2 m-b-l">
				<p class="t--eyebrow m-b-xs">Exploring the concept</p>
				<p>We generate a lot of ideas with post-it. There is one particular idea that our team excited about. Influenced by our team’s culture who love to discuss complex things on the whiteboard. The discussion by the end of the activity looks like this:</p>
			</div>
			<div class="col-sm-12 col-md-8 offset-md-2">
				<h5 class="t--heading-03" style="color: #bbb;">What if...</h5>
				<h5 class="t--heading-03 m-b-s" >system users can be in front of the whiteboard with us?</h5>
				<h5 class="t--heading-03" style="color: #bbb;">So...</h5>
				<h5 class="t--heading-03 m-b-s">they can explain their goal and the context we need</h5>
				<h5 class="t--heading-03" style="color: #bbb;">Yes, and...</h5>
				<h5 class="t--heading-03 m-b-s">they can book it whenever they need it</h5>
				<h5 class="t--heading-03" style="color: #bbb;">Also</h5>
				<h5 class="t--heading-03 m-b-xl">let’s keep the group small so they’re comfortable.</h5>
				<img src="/img/project/bazaar-contribution/whiteboarding-1.jpg" alt="people collaborate in front of whiteboard" class="p-t-xl">
				<span class="t--caption-01">Our team make a preliminary to-be-scenario with the system users.</span>
			</div>
		</div>
	</div>
</div>

<div class="container section-space">
	<div class="row">
		<div class="col-sm-12 col-md-7 offset-md-2">
			<h2 class="t--heading-02 m-b-s">Testing the concept</h2>
			<p class="t--body-02 m-b-l">It’s time to test our concept. We looked for product designers who just started their project and are willing to try this. Three designers signed up. During the session, one of the designers from the design system team will partner with the product designer trying to solve a specific problem. <br/><br/>
			The reaction was positive. <br/><br/>
			The discussion is much more effective, one of the outputs that I love is the product designer realized that it’s not the component is the problem, but tweaking the flow and the layout could’ve solved the problem better. It seems the concept of having a sparring partner is worth it.

			</p>
			<div class="markdown">
			<blockquote class="quote-medium m-b-s">I started to understand what to consider when creating a component and the importance to keep it scalable. I really love this collaboration ground. — Designer</blockquote>
			<blockquote class="quote-medium">This session is super fun! It really bring us closer together, now I feel like we’re all Bazaar designers. — Designer</blockquote>
			</div>
		</div>
			<div class="col-sm-12 col-md-8 offset-md-2">
				<hr class="m-t-xl m-b-xl">
			</div>
		<div class="col-sm-12 col-md-7 offset-md-2">
			<p class="t--eyebrow-blue m-b-xs">Rollout and Impact</p>
			<h2 class="t--heading-02 m-b-xs">Introducing Collaboration Ground</h2>
			<p class="t--body-02 m-b-l">
				The validation gave us confident to roll this out. We started to tweak a few part of the overall experience based on the learnings too. We called this experience Collaboration Ground, we wanted to emphasize the collaboration part because we learned that is what the designers value the most throughout the exercise.
			</p>
		</div>
		<div class="col-sm-12 col-md-8 offset-md-2">
			<img src="/img/project/bazaar-contribution/storyboard.jpg" alt="storyboard" class="m-b-xl">
		</div>

		<div class="col-sm-12 col-md-7 offset-md-2">
			<h2 class="t--heading-02 m-b-xs">Positive impact</h2>
			<p class="t--body-02 m-b-s">
			Collaboration ground had a positive impact, we increased the number of engagement, we had 28 total sign ups components being contributed just in a quarter, the design systems start to evolve, and we started to have better relationship with system users.
			</p>
		</div>

		<div class="col-sm-12 col-md-6 offset-md-2 m-t-l m-b-l">
			<p class="t--heading-01 m-b-xs m-t-xs">Number of engagement increases, 28 signups in total for the last three quarters</p>
			<hr/>
			<p class="t--heading-01 m-b-xs m-t-xs">500-600% increases in contribution quarter by quarter</p>
			<hr/>
			<p class="t--heading-01 m-b-xs m-t-xs">16 contributions to improve existing patterns or components</p>
			<hr/>
			<p class="t--heading-01 m-b-xs m-t-xs">8 contributions to add new patterns or components</p>
			</p>
		</div>
	</div>
</div>

<div class="black-bg"> <!-- Big question -->
	<div class="container section-space-airy">
		<div class="row">
			<div class="col-sm-12 col-md-8 offset-md-2">
				<p class="t--body-02 m-b-xxl">
					To be continued: After we launched the Collaboration Ground, we get continuous flow of contribution. We still need to organize and scale the system better for 8 different business units who maintain 40 product portfolios. 
				</p>
				<p class="t--eyebrow">Big question #2</p>
				<h2 class="t--title-01">How might we scale the contribution model?</h2>
			</div>
		</div>
	</div>
</div>



{% include footer-bar.html %}
	{% include script.html %}
</body>
</html>