{% include header.html %}
<!-- Mobile: Show the journal list -->
<div class="post container d-lg-none">
	<div class="row">
		<div class="col-12">
			{% include journal-index-mobile.html %}
			<div class="m-t-l mobile-m-t-m">
				{% include newsletter.html %}
			</div>
		</div>
	</div>
</div>

<!-- Large: Show the latest content -->
<div class="post container d-none d-lg-block">
	<div class="row p-t-l mobile-p-t-m">
		{% for post in site.posts limit:1 %}
		{% include post-inner.html %}
		{% endfor %}
		{% include journal-index-desktop.html %}
	</div>
</div> 

	{% include footer-bar.html %}
	{% include script.html %}
</body>
</html>