{% include header.html %}
<div class="post l--grid m-t-05 m-b-07 p-b-05">
	<div class="l--grid-narrow">
	{% for post in site.posts %}
		{% assign currentyear = post.date | date: "%Y" %}
			{% if currentyear != date %}
			<h3 class="t--heading-04 p-b-01 p-t-04">{{ currentyear }}</h3>
			{% assign date = currentyear %}
		{% endif %}
			{% include post-loop.html %}
		{% endfor %}

		<!-- <p class="t--body-02 m-t-05 m-b-02 bold">Current side projects</p>

		<div class="border-medium p-t-03 p-b-02 p-l-02 p-r-03">
			<div class="list-side-project m-b-02">
				<div class="m-b-02">
					<span class="t--body-02 l--v-m">Design System Book</span>
					<span class="t--mono-01">12%</span>
				</div>
				<progress max="100" value="12" class="block"></progress>
			</div>
			<div class="list-side-project m-b-02">
				<div class="m-b-02">
					<span class="t--body-02 l--v-m">100 Coretan Design (Book)</span>
					<span class="t--mono-01">70%</span>
				</div>
				<progress max="100" value="70" class="block"></progress>
			</div>
			<div class="list-side-project m-b-02">
				<div class="m-b-02">
					<span class="t--body-02 l--v-m"><a href="https://www.instagram.com/p/CAhiPNPgpU7/" class="neutral-link">90 days Comics</a></span>
					<span class="t--mono-01">4/90</span>
				</div>
				<progress max="100" value="5" class="block"></progress>
			</div>
			<div class="list-side-project m-b-02">
				<div class="m-b-02">
					<span class="t--body-02 l--v-m">Thinking tools</span>
					<span class="t--mono-01">5%</span>
				</div>
				<progress max="100" value="5" class="block"></progress>
			</div>
		</div> -->
	</div>
	<div class="l--grid-side p-l-02 p-t-05 mobile-p-l-0">
		
	</div>
</div>
	{% include newsletter.html %}
	{% include footer-bar.html %}
	{% include script.html %}
</body>
</html>