{% include header.html %}

<div class="post container">
	<div class="row p-t-l mobile-p-t-m">
		<article id="post-inner" class="col-sm-12 col-md-12 col-lg-7 offset-lg-1 col-xl-6 p-b-m mobile-p-b-xs order-lg-2">
			<div class="post-inner--heading m-b-m">
					<p class="t--mono-02 m-b-xs">{{page.date | date:'%b %d, %Y'}}</p>
				{% if page.punchline %}
					<h1 class="post-inner--title t--title-01-serif">{{page.title}}</h1>
					<p class="post-inner--subtitle t--subtitle-01 t--color-secondary m-t-01 m-b-s">{{page.subtitle}}</p>
				{% else %}
					<h1 class="post-inner--title t--title-01-serif m-b-s">{{page.title}}</h1>
				{% endif %}
			</div>
			{% include post-inner-body.html %}
			{% include ask-question.html %}
			{% include newsletter.html %}

			<div class="d-lg-none">
				<div class="col-12">
				{% include journal-index-mobile.html %}
				</div>
			</div>
		</article>
		{% include journal-index-desktop.html %}
			
	</div>
</div> 
	
	{% include footer-bar.html %}
	{% include script.html %}
</body>
</html>