{% include header.html %}

<body>

	<div id="page">
		{% include sidebar.html %}

		<div id="main" role="main">
			<section class="main-wrap single-post-inner">
				<div class="single-post-meta">
					<p><span>{{page.date | date:'%b %d, %Y'}}</span> {{page.author}}</p>
				</div>
				<h2 class="single-post-title">
					{{page.title}}
				</h2>
				
				<div class="single-post-content">
					{{ content }}

					{% include share-post.html %}
				</div>
				

				{% if page.previous.url %}
				<div class="single-next-post">
					<p class="next">Next:</p>
					<h2><a href="{{page.previous.url}}">{{page.previous.title}}</a></h2>
					<p class="date">{{page.previous.date | date:'%b %d, %Y'}}</p>
				</div>
					
				{% endif %}
				
				<!-- {% if page.next.url %}
				<div class="single-next-post">
					<p class="next">Next</p>
					<h2><a href="{{page.next.url}}">{{page.next.title}}</a></h2>
					<p class="date">{{page.next.date | date:'%b %d, %Y'}}</p>
				</div>
				
				{% elsif page.previous.url %}
				<div class="single-next-post">
					<p class="next">You're reading the latest post. If you'd like, you can check the previous post:</p>
					<h2><a href="{{page.previous.url}}">{{page.previous.title}}</a></h2>
					<p class="date">{{page.previous.date | date:'%b %d, %Y'}}</p>
				</div>
					
				{% endif %} -->
				
			</section>
		</div>
		{% include navigation.html %}
	</div>
	{% include script.html %}
	
</body>
</html>