{% include header.html %}

<!-- <div class="container">
	<div class="row">
		<div class="col">
			<h1 class="t--title-01 m-b-03">Career highlights</h1>
		</div>
	</div>
</div> -->

<div class="project l--grid m-t-07 m-b-07 p-b-05">
	<div class="l--grid-wide m-b-06">
		<h1 class="t--title-01 m-b-03">I connect the dots between human, business, and tech</h1>
			<p class="t--body-02">(Still under construction)
				<br>
				I'm passionate on leading a design team to make impact for the customer and business at scale. My work is mostly around the digital product. Here. you can see a range of work from an in-house work and freelance work.
			</p>
	</div>
	<div class="project--index l--grid-wide l--flex-2-col">
	{% assign project_by_year = site.projects | sort: 'order' | reverse %}
	{% for project in project_by_year %}
		<div class="project--index-row m-t-04 m-b-02">
			<img src="{{ project.image.path }}" alt="{{ project.image.alt }}" class="l--full-width">
			<h2>{{ project.title }}</h2>
			<p class="project--index-row-description t--body-03 m-t-01">{{ project.description }}</p>
			<p class="t--body-01 m-t-01">{{ project.client }} · {{ project.year }}</p>
		</div>
	{% endfor %}
	</div>
</div>

{% include footer-bar.html %}
	{% include script.html %}
</body>
</html>