{% include header.html %}

<!-- <div class="container">
	<div class="row">
		<div class="col">
			<h1 class="t--title-01 m-b-03">Career highlights</h1>
		</div>
	</div>
</div> -->

<!--<div>


	 <div class="project--index l--grid-wide l--flex-2-col">
	{% assign project_by_year = site.projects | sort: 'order' | reverse %}
	{% for project in project_by_year %}
		<div class="project--index-row m-t-04 m-b-02">
			<img src="{{ project.image.path }}" alt="{{ project.image.alt }}" class="l--full-width">
			<h2>{{ project.title }}</h2>
			<p class="project--index-row-description t--body-03 m-t-01">{{ project.description }}</p>
			<p class="t--body-01 m-t-01">{{ project.client }} · {{ project.year }}</p>
		</div>
	{% endfor %}
	</div>
</div> -->

<div class="container m-t-l m-b-s">
	<div class="row">
		<div class="col-sm-12 col-md-8">
			<h1 class="t--title-01 m-b-03">I connect the dots between human, business, and technology</h1>
			<p class="t--body-02">
				I'm passionate on leading a design team to make impact for the customer and business at scale. My work is mostly around the digital product. In the future, I'd love to have a social impact through my work.
			</p>
		</div>
	</div>
	<div class="row m-t-xl">
		<div class="col-sm-12 col-md-6">
			<hr class="m-b-xs">
			<p><a href="/evolving-bazaar-design-system/" class="link">
			01. Evolving and scaling Bazaar design system
			</a></p>
			<hr class="m-b-xs m-t-xs">
			<p>02. Bukalapak Design Language <span class="t--color-tetriary">(coming soon)</span></p>
			<hr class="m-b-xs m-t-xs">
			<p>03. Humanizing bookkeeping for micro business <span class="t--color-tetriary">(coming soon)</span></p>
			<hr class="m-b-xs m-t-xs">
			<p>04. Yahoo Weather icon <span class="t--color-tetriary">(coming soon)</span></p>
			<hr class="m-b-xs m-t-xs">
			<p>05. Yahoo Fuji icon set <span class="t--color-tetriary">(coming soon)</span></p>
			<hr class="m-b-xs m-t-xs">
			<p>06. Yahoo Olympic icon set <span class="t--color-tetriary">(coming soon)</span></p>
			<hr class="m-b-xs m-t-xs">
			<p>07. Shopify home card system <span class="t--color-tetriary">(coming soon)</span></p>
			<hr class="m-b-xs m-t-xs">
			<p>08. Shopify spot icon set <span class="t--color-tetriary">(coming soon)</span></p>
			<hr class="m-b-xs m-t-xs">
			<p>09. Buka Sans - Expressive typography for Bukalapak <span class="t--color-tetriary">(coming soon)</span></p>
			<hr class="m-b-xs m-t-xs">
			<p>You can check <a href="https://dribbble.com/buditanrim/" class="link">my Dribbble</a> while I build this portfolio</p>
			<hr class="m-b-xs m-t-xs">
		</div>

	</div>
</div>

{% include footer-bar.html %}
	{% include script.html %}
</body>
</html>